<template>
    <div class="toast-container top-0 end-0 p-2">
        <div ref="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong :class="textClass">{{ titleRef }}</strong>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body bg-white">
                {{ messageRef }}
            </div>
        </div>
    </div>
</template>

<script setup>
import { Toast } from 'bootstrap';
import { computed, onMounted, ref } from 'vue';

const toast = ref();
let bootstrapToast = null;

const titleRef = ref('');
const messageRef = ref('');
const colorRef = ref('black');

const textClass = computed(() => 'text-' + colorRef.value);

onMounted(() => {
    bootstrapToast = Toast.getOrCreateInstance(toast.value)
});

function show({ title, message, color }) {
    if (title != null)
        titleRef.value = title;
    if (message != null)
        messageRef.value = message;
    if (color != null)
        colorRef.value = color;

    bootstrapToast.show();
}

function hide() {
    bootstrapToast.hide();
}

function isShown() {
    bootstrapToast.isShown();
}

defineExpose({
    show,
    hide,
    isShown,
})
</script>
