<div class="d-flex justify-content-between ps-1 mb-3">
    <p class="fs-3 m-0">{{ title|default('Inventar') }}</p>
    <div id="vue-scanner" class="float-end">
        <item-scanner :user="{{ app.user.id }}" :show-search="{{ show_search|default('true') }}"
                      :can-borrow="{{ is_granted('inventory.borrow') ? 'true' : 'false' }}"
                      :can-return-other="{{ is_granted('inventory.return.other') ? 'true' : 'false' }}"></item-scanner>
    </div>
</div>
