{% extends 'base_sidebar.html.twig' %}

{% block title %}Inventar: Kategorien{% endblock %}

{% set sidebar_parent = {
    route: 'app_inventory',
    label: 'Kategorien',
} %}

{% block breadcrumbs %}
    {% include 'breadcrumbs.html.twig' with {
        items: [
            {path: 'app_inventory', name: 'Inventar'},
        ],
        current: 'Kategorien'
    } %}
{% endblock %}

{% block body %}
    {{ include('inventory/_title.html.twig') }}
    <div class="row">
        {% if is_granted('inventory.edit') %}
            <div class="col-12 col-xxl-3 order-xxl-last mb-2">
                <div class="card">
                    <div class="card-header">
                        <strong>Neue Kategorie anlegen</strong>
                    </div>
                    <div class="card-body">
                        {{ form_start(new_form) }}
                        {{ form_row(new_form.name) }}
                        {{ form_row(new_form.submit) }}
                        {{ form_end(new_form) }}

                        <hr>

                        {{ include('inventory/_actions.html.twig') }}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="col-12 col-xxl-9">
            <div class="card">
                <div class="card-header">
                    <strong>Alle Kategorien</strong>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group">
                        {% for category in categories %}
                            {% embed 'list-group-item.html.twig' with {action: false, first: loop.first, last: loop.last} %}
                                {% block content %}
                                    <a href="{{ path('app_inventory_search', {'search_form[categories][]': category.id}) }}">{{ category.name }}</a>
                                    {% if is_granted('inventory.edit') %}
                                        <button class="btn btn-sm btn-link text-muted float-end py-0" data-bs-toggle="modal" data-bs-target="#modal-edit"
                                                data-category="{{ category.name }}"
                                                data-action="{{ path('app_inventory_categories_edit', {category: category.id}) }}">
                                            <i class="fas fa-pen"></i>
                                        </button>
                                    {% endif %}
                                {% endblock %}
                            {% endembed %}
                        {% else %}
                            {% embed 'list-group-item.html.twig' with {first: true, last: true} %}
                                {% block content %}
                                    <i>Hier ist noch nichts...</i>
                                {% endblock %}
                            {% endembed %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-edit" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ form_start(edit_form) }}
                <div class="modal-header">
                    <h5 class="modal-title">Kategorie bearbeiten</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_row(edit_form.name) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    {{ form_widget(edit_form.submit) }}
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('inventory/categories') }}
    {{ vite_entry_script_tags('inventory/scan') }}
{% endblock %}
