{% extends 'base_sidebar.html.twig' %}

{% block title %}Inventar{% endblock %}

{% block body %}
    {{ include('inventory/_title.html.twig') }}
    <div class="row">
        <div class="col-12 col-xxl-3 order-xxl-last mb-2">
            <div class="card">
                <div class="card-header">
                    <strong>Aktionen</strong>
                </div>
                <div class="card-body pt-2">
                    {{ include('inventory/_actions.html.twig') }}
                    {% if is_granted('inventory.edit') %}
                        <div class="col-12 col-sm-6 col-md-4 col-xxl-12 mt-2">
                            <button type="button" class="btn btn-outline-success form-control" data-bs-toggle="modal" data-bs-target="#modal-item-type">
                                <i class="fas fa-boxes"></i> Neues Objekt anlegen
                            </button>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-xxl-12 mt-2">
                            <button type="button" class="btn btn-outline-info form-control" data-bs-toggle="modal" data-bs-target="#modal-location">
                                <i class="fas fa-warehouse"></i> Neuen Ort anlegen
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-xxl-9">
            <div class="card">
                <div class="card-header">
                    <strong>Lagerorte</strong>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group">
                        {% for location in locations %}
                            {% embed 'list-group-item.html.twig' with {classes: ['list-group-item-action'], first: loop.first, last: loop.last} %}
                                {% block content %}
                                    <span class="badge bg-secondary rounded-pill me-2">{{ itemCounts[location.id] | default(0) }}</span>
                                    <a class="stretched-link no-underline"
                                       href="{{ path('app_inventory_location', {location: location.id}) }}">{{ location.name }}</a>
                                {% endblock %}
                            {% endembed %}
                        {% else %}
                            {% embed 'list-group-item.html.twig' with {first: true, last: true} %}
                                {% block content %}
                                    <i>Hier ist noch nichts...</i>
                                {% endblock %}
                            {% endembed %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include 'inventory/item/modal/_item_type_modal.html.twig' with {form: new_item_form, action: path('app_inventory_type_new')} %}
    {% include 'inventory/location/_location_modal.html.twig' with {form: new_location_form} %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('inventory/scan') }}
{% endblock %}
