{% extends 'base_sidebar.html.twig' %}

{% block title %}Traffic Jam Helfer Anmeldung{% endblock %}

{% block body %}
    <div class="alert alert-info mt-3">
        Du kannst dich noch bis zum {{ end }} als Helfer anmelden oder deine Daten aktualisieren, danach werden wir dieses Formular schließen. Du wirst aber
        wahrscheinlich schon vorher von uns hören :)
    </div>

    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="alert alert-warning mt-3">
            <i class="fas fa-hand-point-right fa-2x fa-pull-left me-2"></i>
            Du bist nicht angemeldet. Wenn du dich schon einmal als Helfer:in angemeldet hast, <a href="{{ path('app_login') }}">melde dich bitte mit deinem
                bestehenden Account an</a>.
        </div>
    {% endif %}

    <h2>Helferanmeldung Traffic Jam Open Air</h2>
    <p>{{ templates.text('volunteer.intro') | markdown_to_html }}</p>
    {% if volunteer.id != null %}
        {% if volunteer.status.value == 'outdated' %}
            <div class="alert alert-warning">
                <i class="fas fa-info-circle fa-pull-left me-2"></i>
                Die folgenden Daten stammen aus einer alten Anmeldung von dir.
                Bitte überprüfe, ob noch alles korrekt ist, und sende die Anmeldung dann mit dem Knopf unten ab :)
            </div>
        {% elseif volunteer.status.value == 'pending' %}
            <div class="alert alert-success">
                <i class="fas fa-info-circle fa-pull-left me-2"></i>
                Wir haben deine Anmeldung erhalten und melden uns bald bei dir zurück.
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-info-circle fa-pull-left me-2"></i>
                Wir haben deine Anmeldung erhalten und du solltest hoffentlich bereits eine E-Mail von uns erhalten haben. Wenn du noch Fragen hast,
                melde dich gerne bei uns (<a href="mailto:helfer@trafficjam.de">helfer@trafficjam.de</a>). Sollte sich etwas an deinen Daten ändern,
                korrigiere das bitte in diesem Formular und speichere es erneut ab.
            </div>
        {% endif %}
    {% endif %}
    {{ form_start(form) }}
    <h5>Allgemeine Angaben</h5>
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4">
            {{ form_row(form.firstname) }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            {{ form_row(form.surname) }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {disabled: app.user is not null}) }}
                {{ form_help(form.email) }}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            {{ form_row(form.street) }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            {{ form_row(form.zip) }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            {{ form_row(form.city) }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            {{ form_row(form.phone) }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            {{ form_row(form.gender) }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            {{ form_row(form.birthday) }}
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            {{ form_row(form.food) }}
        </div>
    </div>

    <!-- Aufbau & Abbau -->
    <div class="row mt-2">
        <div class="col-12 col-lg-6">
            <h5>Aufbau</h5>
            {{ form_label(form.construction) }}
            {{ form_widget(form.construction) }}
            {{ form_help(form.construction) }}
        </div>
        <div class="col-12 col-lg-6">
            <h5>Abbau</h5>
            {{ form_label(form.dismantling) }}
            {{ form_widget(form.dismantling) }}
            {{ form_help(form.dismantling) }}
        </div>
    </div>

    <!-- Bereich -->
    <div class="row mt-3">
        <div class="col-12">
            <h5>W&auml;hrend dem Festival</h5>
            {{ form_row(form.days, {label_attr: {class: 'checkbox-custom'}}) }}
        </div>
        <div class="col-12 col-lg-6">
            {{ form_label(form.preferredArea1) }}
            {{ form_widget(form.preferredArea1) }}
            {{ form_widget(form.preferredArea2, {attr: {class: 'mt-2'}}) }}
            {{ form_widget(form.preferredArea3, {attr: {class: 'mt-2'}}) }}
            {{ form_help(form.preferredArea3) }}
        </div>
        <div class="col-12 col-lg-6">
            {{ form_row(form.preferredShifts) }}
        </div>
    </div>

    <!-- Erfahrung -->
    <div class="row mt-3">
        <div class="col">
            <h5>Erfahrung</h5>
            <label for="applyExperience">Du hast schon Erfahrung als Helfer auf Festivals oder vielleicht sogar beruflich? Erzähle uns doch kurz wo und wann
                du geholfen hast, und was du dort gemacht hast.</label>
            {{ form_widget(form.experience) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <label for="applyNotes">Möchtest du uns noch etwas mitteilen? Gibt es zum Beispiel bestimmte Bands, die du unbedingt sehen willst (max. zwei), oder andere Personen mit denen du gerne zusammen Schichten machen möchtest?</label>
            {{ form_widget(form.comments) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {% if app.user %}
                {{ form_row(form.submit) }}
            {% else %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#account-modal">Senden</button>
            {% endif %}
        </div>
    </div>

    <!-- Modal für unangemeldete Benutzer -->
    {% if not app.user %}
        <div class="modal fade" id="account-modal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Anmeldung abschicken</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Du bist nicht angemeldet. Wenn du deine Daten absendest, akzeptierst du unsere
                            <a href="https://trafficjam.de/datenschutz/" target="_blank">Datenschutzbestimmungen</a>.
                        </p>
                        <p><strong>Wenn du bereits einen Account hier im Backstage Tool hast (zum Beispiel, weil du schon einmal als Helfer angemeldet
                                warst), <a href="{{ path('app_login') }}">melde dich bitte zuerst an</a>!</strong></p>
                        <p>Wenn du noch keinen Account hast, wird jetzt automatisch ein neuer Account für dich erstellt. Bitte wähle ein Passwort:</p>
                        {{ form_row(form.password) }}
                        {{ form_row(form.passwordConfirm) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zurück</button>
                        {{ form_widget(form.submit) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {{ form_widget(form._token) }}
    {{ form_end(form, {render_rest: false}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('volunteer') }}
{% endblock %}
