{% extends 'base.html.twig' %}

{% block title %}Backstage Login{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <div class="mx-3 mx-md-0">
                <div class="card mt-3">
                    <div class="card-header">
                        {% if reset %}
                            {% trans %} password.change {% endtrans %}
                        {% else %}
                            {% trans %} password.reset.label {% endtrans %}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
