{% extends 'base_sidebar.html.twig' %}

{% block body %}
    <form action="{{ path('index') }}">
        <label>Impersonate User</label>
        <div class="input-group">
            <input type="email" class="form-control" name="_switch_user" placeholder="E-Mail" required/>
            <button type="submit" class="btn btn-danger">Impersonate</button>
        </div>
    </form>
{% endblock %}
