<div class="modal fade" id="modal-gallery" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content inventory-gallery">
            <div class="modal-body p-0">
                <button type="button" class="modal-control-close btn-close btn-close-white" data-bs-dismiss="modal"></button>
                <div id="galleryCarousel" class="carousel slide" data-bs-ride="false">
                    {% if type.images|length > 1 %}
                        <div class="carousel-indicators">
                            {% for image in type.images %}
                                <button type="button" data-bs-target="#galleryCarousel" data-bs-slide-to="{{ loop.index0 }}"
                                        {%- if loop.first %} class="active" {%- endif -%}></button>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="carousel-inner">
                        {% for image in type.images %}
                            <div class="carousel-item {%- if loop.first %} active {% endif -%}">
                                <div class="flex-centered">
                                    <img src="{{ vich_uploader_asset(image) }}" alt="{{ image.fileName }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if type.images|length > 1 %}
                        <button class="carousel-control-prev" type="button" data-bs-target="#galleryCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#galleryCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
