<div class="modal fade" id="modal-number" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Artikel nummerieren</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{ form_start(form) }}
            <div class="modal-body">
                <p>Diese Aktion weißt allen markierten Artikeln eine eindeutige Nummer zu. Artikel mit einer Anzahl größer als eins werden automatisch
                    aufgeteilt. Nummern werden sequentiell aufsteigend vergeben.</p>
                <p><strong>Achtung! Änderungen können nicht rückgängig gemacht werden!</strong></p>
                <p>Anzahl markierter Artikel: <strong id="item_number_form_selected"></strong></p>
                {{ form_row(form.start) }}
                <p>Resultierende Nummernfolge: <strong id="item_number_form_range"></strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
