<td style="white-space: nowrap">
    {% if is_granted('inventory.borrow') and not item.deleted -%}
        {%- if item.borrowedBy is null -%}
            <button type="button" class="btn btn-link btn-sm" title="Ausleihen" data-bs-toggle="modal" data-bs-target="#modal-borrow"
                    data-item="{{ item.id }}" data-action="{{ path('app_inventory_item_borrow', {item: item.id}) }}">
                <i class="fas fa-sign-out-alt text-muted"></i>
            </button>
        {%- elseif item.borrowedBy == app.user or is_granted('inventory.return.other') -%}
            <button type="button" class="btn btn-link btn-sm" title="Zurückgeben" data-bs-toggle="modal" data-bs-target="#modal-return"
                    data-item="{{ item.id }}" data-action="{{ path('app_inventory_item_return', {item: item.id}) }}">
                <i class="fas fa-sign-in-alt text-muted"></i>
            </button>
        {%- endif -%}
    {%- endif %}
</td>

<td style="white-space: nowrap">
    {% if is_granted('inventory.edit') -%}
        <button type="button" class="btn btn-link btn-sm" title="Bearbeiten" data-bs-toggle="modal" data-bs-target="#modal-item"
                data-item="{{ item.id }}" data-action="{{ path('app_inventory_item_edit', {item: item.id}) }}">
            <i class="fas fa-pen text-muted"></i>
        </button>
        {%- if item.deleted -%}
            <a class="btn btn-sm" title="Löschen"
               href="{{ path('app_inventory_type', {type: item.type.id, 'items[]': item.id, action: 'restore', showDeleted: show_deleted}) }}">
                <i class="fas fa-trash-restore text-muted"></i></a>
        {%- else -%}
            <a class="btn btn-sm" title="Wiederherstellen"
               href="{{ path('app_inventory_type', {type: item.type.id, 'items[]': item.id, action: 'delete', showDeleted: show_deleted}) }}">
                <i class="fas fa-trash text-muted"></i></a>
        {%- endif -%}
    {%- endif %}
</td>

<td style="white-space: nowrap">
    {% if item.notes is not null -%}
        <button type="button" class="btn btn-link btn-sm" title="Notizen" data-toggle="notes" data-item="{{ item.id }}">
            <i class="fas fa-comment-dots text-muted"></i>
        </button>
    {%- endif %}
</td>
