{% extends 'base_sidebar.html.twig' %}

{% block title %}Inventar: {{ type.name }}{% endblock %}

{% block stylesheets %}
    {{ vite_entry_link_tags('theme_inventory') }}
{% endblock %}

{% set sidebar_parent = {
    route: 'app_inventory',
    label: type.name,
} %}

{% block body %}
    {{ include('inventory/_title.html.twig') }}
    <div class="row">
        <div class="col-12 col-xxl-3 order-xxl-last mb-2">
            <div class="card">
                <div class="card-header">
                    <strong>Bilder</strong>
                </div>
                <div class="card-body">
                    <div class="inventory-image-container">
                        {% for image in type.images -%}
                            <div class="inventory-image me-1 mb-1" data-bs-toggle="modal" data-bs-target="#modal-gallery" data-index="{{ loop.index0 }}">
                                {% if is_granted('inventory.edit') -%}
                                    <button role="button" class="btn btn-link inventory-image-delete" data-bs-toggle="modal"
                                            data-bs-target="#modal-image-delete" data-action="{{ path('app_inventory_image_delete', {image: image.id}) }}">
                                        <i class="fas fa-sm fa-trash"></i>
                                    </button>
                                {%- endif %}
                                <img src="{{ vich_uploader_asset(image) }}" class="img-thumbnail" alt="Image {{ loop.index }}">
                            </div>
                        {% else %}
                            <p><i>Keine Bilder vorhanden...</i></p>
                        {%- endfor %}
                    </div>
                    {% if is_granted('inventory.edit') -%}
                        <button type="button" class="btn btn-outline-success mt-2" data-bs-toggle="modal" data-bs-target="#modal-image">
                            <i class="fas fa-images"></i> Bild hinzufügen
                        </button>
                    {%- endif %}

                    <hr>

                    {{ include('inventory/_actions.html.twig') }}
                </div>
            </div>
        </div>

        <div class="col-12 col-xxl-9">
            <div class="card">
                <div class="card-header">
                    <strong>{{ type.name }}</strong>
                    <span class="badge bg-info ms-2 me-1">{{ type.owner }}</span>
                    {% for c in type.categories -%}
                        <span class="badge bg-secondary ms-1">{{ c.name }}</span>
                    {%- endfor %}
                    {% if is_granted('inventory.edit') -%}
                        <button type="button" class="btn btn-link float-end text-muted p-0" data-bs-toggle="modal" data-bs-target="#modal-item-type">
                            <i class="fas fa-pen"></i>
                        </button>
                    {%- endif %}
                </div>
                <div class="card-body">
                    {{ type.description|nl2br }}
                    <hr/>
                    <form method="get">
                        <div class="table-responsive">
                            <table class="table table-hover table-sm mt-2">
                                <thead>
                                <tr>
                                    <td>
                                        {% if is_granted('inventory.edit') -%}
                                            <div class="form-check">
                                                <input type="checkbox" id="item-select-all" class="form-check-input">
                                                <label class="form-check-label" for="item-select-all"><i>Alle auswählen</i></label>
                                            </div>
                                        {%- endif %}
                                    </td>
                                    <th scope="col">Anzahl: {{ count }}</th>
                                    <th scope="col">Lagerort</th>
                                    <th scope="col" colspan="4">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in items -%}
                                    <tr {%- if app.request.query.get('highlight') == item.id %} class="table-warning" {% elseif item.deleted %} class="table-danger" {%- endif %}>
                                        <td>
                                            {% if is_granted('inventory.edit') -%}
                                                <div class="form-check">
                                                    <input type="checkbox" name="items[]" value="{{ item.id }}" id="item-select-{{ item.id }}"
                                                           class="form-check-input" {%- if item.id in app.request.query.get('items') %} checked {%- endif %}>
                                                    <label class="form-check-label" for="item-select-{{ item.id }}">
                                                        {% if item.number is not null -%}
                                                            <strong>#{{ item.number }}</strong>
                                                        {%- else -%}
                                                            <span class="text-muted">id::{{ item.id }}</span>
                                                        {%- endif %}
                                                    </label>
                                                </div>
                                            {%- else -%}
                                                {% if item.number is not null -%}
                                                    <strong>#{{ item.number }}</strong>
                                                {%- else -%}
                                                    <span class="text-muted">id::{{ item.id }}</span>
                                                {%- endif %}
                                            {%- endif %}
                                        </td>
                                        <td>
                                            <span {% if item.number is not null -%} class="text-muted" {%- endif %}>{{ item.count }}</span>
                                        </td>
                                        <td>
                                            <a class="no-underline"
                                               href="{{ path('app_inventory_location', {location: item.location.id}) }}">{{ item.location.name }}</a>
                                        </td>
                                        <td style="white-space: nowrap">
                                            {{ include('inventory/item/_status.html.twig') }}
                                        </td>
                                        {{ include('inventory/item/_actions.html.twig') }}
                                    </tr>
                                    {% if item.notes is not null -%}
                                        <tr class="collapse" id="item-notes-{{ item.id }}">
                                            <td></td>
                                            <td colspan="4">
                                                {{ item.notes|nl2br }}
                                            </td>
                                        </tr>
                                    {%- endif %}
                                {% else -%}
                                    <tr>
                                        <td colspan="5">
                                            <i>Hier ist noch nichts...</i>
                                        </td>
                                    </tr>
                                {%- endfor %}
                                <tr>
                                    <td colspan="5">
                                        {% if is_granted('inventory.edit') -%}
                                            <button type="button" class="btn btn-sm btn-light btn-outline-success" data-bs-toggle="modal"
                                                    data-bs-target="#modal-item" data-action="{{ path('app_inventory_item_new', {type: type.id}) }}">
                                                <i class="fas fa-plus"></i> Artikel hinzufügen
                                            </button>
                                        {%- endif %}
                                        <a class="btn btn-sm btn-light btn-outline-secondary"
                                           href="{{ path('app_inventory_type', {type: type.id, showDeleted: not show_deleted}) }}">
                                            <i class="fas fa-trash"></i>
                                            {% if show_deleted -%}
                                                Gelöschte Artikel verstecken
                                            {%- else -%}
                                                Gelöscht Artikel zeigen
                                            {%- endif %}
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        {% if is_granted('inventory.edit') -%}
                            <p class="mb-1">Für alle ausgewählten Artikel ausführen:</p>
                            <input type="hidden" name="showDeleted" value="{{ show_deleted }}">
                            {% if is_granted('inventory.edit.number') -%}
                                <button class="btn btn-info" type="button" name="action" data-bs-toggle="modal" data-bs-target="#modal-number"
                                        {%- if not app.request.query.has('items') %} disabled {%- endif %}>
                                    <i class="fas fa-list-ol"></i> Nummerieren
                                </button>
                            {%- endif %}
                            <button class="btn btn-warning" type="submit" name="action" value="defective"
                                    {%- if not app.request.query.has('items') %} disabled {%- endif %}>
                                <i class="fas fa-bolt"></i> Defekt
                            </button>
                            <button class="btn btn-warning" type="submit" name="action" value="missing"
                                    {%- if not app.request.query.has('items') %} disabled {%- endif %}>
                                <i class="fas fa-times"></i> Fehlt
                            </button>
                            <button class="btn btn-danger" type="submit" name="action" value="delete"
                                    {%- if not app.request.query.has('items') %} disabled {%- endif %}>
                                <i class="fas fa-trash"></i> Löschen
                            </button>
                            <button class="btn btn-success" type="submit" name="action" value="restore"
                                    {%- if not app.request.query.has('items') %} disabled {%- endif %}>
                                <i class="fas fa-trash-restore text-muted"></i> Wiederherstellen
                            </button>
                        {%- endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 col-xxl-9">
            <div class="card">
                <div class="card-header">
                    <strong>Verlauf</strong>
                </div>
                <div class="card-body p-0">
                    {% include 'inventory/_log.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <!-- encode items for javascript -->
    {% for item in items -%}
        <div class="d-none" id="item-info-{{ item.id }}"
             data-item="{{ {id: item.id, number: item.number, count: item.count, location: item.location.id, notes: item.notes, defective: item.defective, missing: item.missing, deleted: item.deleted, displayName: item.displayName} | json_encode }}"
        ></div>
    {% endfor %}

    <!-- modals -->
    {% include 'inventory/item/modal/_number_modal.html.twig' with {form: number_form} %}
    {% include 'inventory/item/modal/_borrow_modal.html.twig' with {form: borrow_form} %}
    {% include 'inventory/item/modal/_return_modal.html.twig' with {form: return_form} %}
    {% include 'inventory/item/modal/_item_type_modal.html.twig' with {form: edit_form, action: path('app_inventory_type_edit', {type: type.id})} %}
    {% include 'inventory/item/modal/_item_modal.html.twig' with {form: new_item_form, action: path('app_inventory_type', {type: type.id})} %}
    {% include 'inventory/item/modal/_image_modal.html.twig' with {form: image_form} %}
    {% include 'inventory/item/modal/_delete_image_modal.html.twig' %}
    {% include 'inventory/item/modal/_gallery_modal.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('inventory/item') }}
    {{ vite_entry_script_tags('inventory/scan') }}
{% endblock %}
