<template>
    <div>
        <BandModal ref="modal"/>
        <p class="fs-3 m-0 d-inline">Bands Verwalten</p>
        <a class="btn btn-sm btn-outline-success ms-3 mb-2" href="/bandcheckin">
            zum Checkin
        </a>
        <button v-if="editable" class="btn btn-sm btn-outline-success ms-3 mb-2" @click="modal.show()">
            <i class="fas fa-plus"></i> Neue Band
        </button>
        <div class="table-responsive mt-3">
            <table class="table table-sm table-hover table-striped table-light">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Kontakt</th>
                    <th scope="col">E-Mail</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Ort</th>
                    <th v-if="!false"></th>
                </tr>
                </thead>
                <tbody v-if="!loading">
                <tr v-for="band in store.bandsSorted">
                    <td>{{ band.name }}</td>
                    <td>{{ band.contactName }}</td>
                    <td>{{ band.contactEmail }}</td>
                    <td>{{ band.contactPhone }}</td>
                    <td>{{ band.location }}</td>
                    <td v-if="editable" style="white-space: nowrap">
                        <button class="btn btn-link text-muted py-0 px-1 mx-1" @click="modal.show(band)">
                            <i class="fas fa-pen"></i>
                        </button>
                        <button class="btn btn-link text-danger py-0 px-1 mx-1" @click="store.deleteBand(band.id)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
                <tbody v-else>
                <tr>
                    <td colspan="6" class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script setup>
import BandModal from "./BandModal.vue";
import { computed, onMounted, ref } from 'vue';
import { useFestivalStore } from '../../festival/festival-store';
import { usePermissionStore } from '../../system/permission-store';
import { useGuestListStore } from '../guestlist-store';

const store = useGuestListStore();
const festivalStore = useFestivalStore();
const permissions = usePermissionStore();

const editable = computed(() => permissions.isGranted('checkin.bands.edit'));

const modal = ref();

const loading = ref(false);

let festival = ref(null)

onMounted(async () => {
    loading.value = true;
    festival.value = await festivalStore.fetchCurrentFestival();
    await Promise.all([
        store.fetchBands(),
        permissions.fetchPermissions(),
    ]);
    loading.value = false;
});
</script>
