<template>
    <div ref="modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Band hinzufügen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <label class="form-label required">Name</label>
                            <input type="text" class="form-control" placeholder="Name" v-model="name">
                        </div>
                        <div class="col-12 col-lg-6 mt-3 mt-lg-0">
                            <label class="form-label">Ort</label>
                            <input type="text" class="form-control" placeholder="Ort" v-model="location">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 col-lg-4">
                            <label class="form-label">Ansprechpartner</label>
                            <input type="text" class="form-control" placeholder="Ansprechpartner" v-model="contactName">
                        </div>
                        <div class="col-12 col-lg-4 mt-3 mt-lg-0">
                            <label class="form-label">E-Mail</label>
                            <input type="email" class="form-control" placeholder="E-Mail" v-model="contactEmail">
                        </div>
                        <div class="col-12 col-lg-4 mt-3 mt-lg-0">
                            <label class="form-label">Telefon</label>
                            <input type="text" class="form-control" placeholder="Telefon" v-model="contactPhone">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary" @click="save">Speichern</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { post, put } from '../../api';
import { onMounted, ref } from 'vue';
import { Modal } from 'bootstrap';
import { useGuestListStore } from '../guestlist-store';

const modal = ref();
let bootstrapModal = null;

const store = useGuestListStore();

// model data
const id = ref(null);
const name = ref('');
const location = ref('');
const contactName = ref('');
const contactEmail = ref('');
const contactPhone = ref('');

onMounted(() => {
    bootstrapModal = Modal.getOrCreateInstance(modal.value);
});

function show(band) {
    if (band != null) {
        id.value = band.id;
        name.value = band.name;
        location.value = band.location;
        contactName.value = band.contactName;
        contactEmail.value = band.contactEmail;
        contactPhone.value = band.contactPhone;
    } else {
        id.value = null;
        name.value = '';
        location.value = '';
        contactName.value = '';
        contactEmail.value = '';
        contactPhone.value = '';
    }

    bootstrapModal.show();
}

async function save() {
    const data = {
        name: name.value,
        location: location.value,
        contactName: contactName.value,
        contactEmail: contactEmail.value,
        contactPhone: contactPhone.value,
    }

    if (id.value == null) {
        await store.createBand(data);
    } else {
        await store.updateBand(id.value, data);
    }
    bootstrapModal.hide();
}

defineExpose({
    show
});
</script>
