<template>
    <div ref="modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <strong class="modal-title">Gruppe "{{ groupName }}" löschen</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Willst du die Gruppe wirklich löschen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-danger" :disabled="loading" @click="execute()">
                        <i class="fas fa-trash"></i> Löschen
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { del } from '../api';
import { onMounted, ref } from 'vue';
import { Modal } from 'bootstrap';

const modal = ref();                // the bootstrap modal
let bootstrapModal = null;
const groupId = ref(-1);      // group id
const groupName = ref('');    // group name
const loading = ref(false);   // set to true to disable the button

onMounted(() => {
    bootstrapModal = Modal.getOrCreateInstance(modal.value);
});

const emit = defineEmits(['delete'])

/**
 * Opens the modal dialog
 *
 * @param group the group to show
 */
function show(group) {
    groupId.value = group.id;
    groupName.value = group.name;
    bootstrapModal.show();
}

/**
 * Deletes the group and closes the modal
 */
function execute() {
    loading.value = true;
    del('admin/groups/' + groupId.value)
        .then(() => {
            emit('delete', groupId.value)
            bootstrapModal.hide();
        })
        .finally(() => {
            loading.value = false;
        });
}

defineExpose({
    show
});
</script>
