<template>
    <div class="card mt-3">
        <div class="card-header">
            <strong>Alle Gruppen</strong>
            <button class="btn btn-sm btn-outline-success float-end" type="button" @click="openGroupModal(null)">
                <i class="fas fa-plus-circle"></i> Neue Gruppe
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th colspan="2">Erbt von</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="group in groups" :key="group.id">
                        <td>{{ group.id }}</td>
                        <td>{{ group.name }}</td>
                        <td>{{ group.parent_name }}</td>
                        <td class="text-right">
                            <button class="btn btn-link btn-sm" type="button" @click="openGroupModal(group)">
                                <i class="fas fa-pen"></i>
                            </button>
                            <button class="btn btn-link btn-sm" type="button" @click="openPermissionsModal(group)">
                                <i class="fas fa-list"></i>
                            </button>
                            <button class="btn btn-link btn-sm" type="button" @click="openDeleteModal(group)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <GroupModal
            ref="gm"
            :groups="groups"
            @update="updateGroup($event)"
            @new="newGroup($event)"
        />
        <PermissionsModal
            ref="pm"
        />
        <DeleteModal
            ref="dm"
            @delete="delGroup($event)"
        />
    </div>
</template>

<script setup>
import GroupModal from './GroupModal.vue';
import PermissionsModal from './PermissionsModal.vue';
import DeleteModal from './DeleteModal.vue';
import { onMounted, ref } from 'vue';

const groups = ref([]);
const gm = ref();
const pm = ref();
const dm = ref();

onMounted(async () => {
    const response = await fetch('/api/admin/groups');
    groups.value = await response.json();
});

function openGroupModal(group) {
    gm.value.show(group);
}

function openPermissionsModal(group) {
    pm.value.show(group);
}

function openDeleteModal(group) {
    dm.value.show(group);
}

/**
 * Updates the given group with new values
 *
 * @param event the event from the group-modal
 */
function updateGroup(event) {
    groups.value.map(g => {
        if (g.id !== event.id)
            return g;
        g.name = event.name;
        g.parent_id = event.parent;
        g.parent_name = groups.value.find(g => g.id === event.parent)?.name;
        return g;
    });
}

/**
 * Adds a new group to the list of groups
 *
 * @param event the event from the group-modal
 */
function newGroup(event) {
    groups.value.push({
        id: event.id,
        name: event.name,
        parent_id: event.parent_id,
        parent_name: groups.value.find(g => g.id === event.parent)?.name
    });
}

/**
 * Deletes the group from the list of groups
 *
 * @param event the event from the delete-modal
 */
function delGroup(event) {
    groups.value = groups.value.filter(g => g.id !== event)
}
</script>
