<template>
    <div ref="modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong class="modal-title">Gruppe "{{ groupName }}"</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="modal-group-input">Name:</label>
                    <input type="text" class="form-control mb-2" id="modal-group-input" v-model="groupName"/>
                    <label for="modal-group-select">Erbt von:</label>
                    <select class="form-control mb-3" id="modal-group-select" v-model.number="parentId">
                        <option :value="null"></option>
                        <option v-for="g in otherGroups" :key="g.id" :value="g.id">{{ g.name }}</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-primary" @click="save()" :disabled="loading">Speichern</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { post, put } from '../api.js';
import { computed, onMounted, ref } from 'vue';
import { Modal } from 'bootstrap';

const props = defineProps({
    groups: {             // all groups
        type: Array,
        default: []
    }
});

const emit = defineEmits(['new', 'update']);

const modal = ref();
let bootstrapModal = null;          // the bootstrap modal
const groupId = ref(null);      // group id
const groupName = ref(null);    // group name
const parentId = ref(null);     // parent id
const otherGroups = computed(() => props.groups.filter(g => g.id !== groupId.value));
const loading = ref(false);   // set to true to disable buttons

onMounted(() => {
    bootstrapModal = Modal.getOrCreateInstance(modal.value);
});

/**
 * Opens the modal dialog
 *
 * @param group the group to show or null for a new group
 */
function show(group) {
    if (group === null) {
        groupId.value = null;
        groupName.value = 'Neue Gruppe';
        parentId.value = null;
    } else {
        groupId.value = group.id;
        groupName.value = group.name;
        parentId.value = group.parent_id;
    }
    bootstrapModal.show();
}

/**
 * Saves the settings for the current group and closes the modal
 */
function save() {
    loading.value = true;
    if (groupId.value === null) {
        post('admin/groups', {
            name: groupName.value,
            parent: parentId.value
        }).then(id => {
            groupId.value = id;
            emit('new', {
                id: groupId.value,
                name: groupName.value,
                parent: parentId.value
            });
            bootstrapModal.hide();
        }).finally(() => {
            loading.value = false;
        });
    } else {
        put('admin/groups/' + groupId.value, {
            name: groupName.value,
            parent: parentId.value
        }).then(() => {
            emit('update', {
                id: groupId.value,
                name: groupName.value,
                parent: parentId.value
            });
            bootstrapModal.hide();
        }).finally(() => {
            loading.value = false;
        });
    }
}

defineExpose({
    show
});
</script>
