<template>
    <div class="card">
        <div class="card-header">
            <strong>Gruppen</strong>
            <div v-if="loading" class="spinner-border spinner-border-sm ms-2" role="status">
                <span class="visually-hidden">Lade...</span>
            </div>
            <button class="btn btn-link float-end p-0" type="button" @click="show()">
                <i class="fas fa-users-cog text-info"></i>
            </button>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" v-for="group in userGroups" :key="group.id">
                {{ group.name }}
            </li>
            <li class="list-group-item" v-if="!loading && userGroups.length === 0"><i>Keine Gruppen zugewiesen</i></li>
        </ul>

        <div ref="modal" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <strong class="modal-title">Gruppen von <span id="modal-inheritance-title"></span></strong>
                    </div>
                    <div class="modal-body">
                        <div class="form-check" v-for="group in groups" :key="group.id">
                            <input class="form-check-input" type="checkbox" :id="`inh-${group.id}`" :disabled="loading"
                                   @change="select(group, $event.target.checked)"
                                   :checked="group.member">
                            <label class="form-check-label" :for="`inh-${group.id}`">{{ group.name }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { del, put } from '../api.js';
import { computed, onMounted, ref } from 'vue';
import { Modal } from 'bootstrap';

const props = defineProps({
    userId: {
        type: String,
        required: true
    },
});

const modal = ref();
let bootstrapModal = null;          // the bootstrap modal
const groups = ref([]);       // all groups
const userGroups = computed(() => groups.value.filter(group => group.member === true));
const loading = ref(false);   // set to true to disable buttons

onMounted(async () => {
    bootstrapModal = Modal.getOrCreateInstance(modal.value);
    loading.value = true;
    const response = await fetch('/api/admin/usergroups/' + parseInt(props.userId));
    groups.value = await response.json();
    loading.value = false;
});

function show() {
    bootstrapModal.show();
}

function select(group, checked) {
    const groupMember = {
        user: parseInt(props.userId),
        group: group.id
    }
    if (checked) {
        put('admin/usergroups', groupMember)
            .then(() => {
                const index = groups.value.findIndex(g => g.id === group.id);
                groups.value[index].member = true;
                loading.value = false;
            })
            .finally(() => {
                loading.value = false;
            });
    } else {
        del('admin/usergroups', groupMember)
            .then(() => {
                const index = groups.value.findIndex(g => g.id === group.id);
                groups.value[index].member = false;
                loading.value = false;
            })
            .finally(() => {
                loading.value = false;
            });
    }
}
</script>
