<template>
    <div ref="modal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong class="modal-title">Permissions der Gruppe "{{ groupName }}"</strong>
                    <div v-if="loading" class="spinner-border spinner-border-sm ms-2" role="status">
                        <span class="visually-hidden">Lade...</span>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-0">
                    <ul class="list-group">
                        <li v-for="permission in permissionsCache[groupId]" :key="permission" class="list-group-item">
                            <code>{{ permission }}</code>
                            <button class="btn btn-light btn-sm float-end" type="button"
                                    @click="delPermission(permission)" :disabled="loading">
                                <i class="fas fa-minus-circle text-danger"></i>
                            </button>
                        </li>
                        <li class="list-group-item">
                            <input type="text" v-model="newPermission">
                            <button class="btn btn-light btn-sm float-end" type="button" @click="addPermission"
                                    :disabled="loading || !newPermission">
                                <i class="fas fa-plus-circle text-success"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { del, put } from '../api';
import { onMounted, ref } from 'vue';
import { Modal } from 'bootstrap';

const modal = ref();
let bootstrapModal = null;          // the bootstrap modal
const groupId = ref(-1);          // group id
const groupName = ref('');     // group name
const permissionsCache = ref({});      // cache of all groups and their permissions
const newPermission = ref('');    // new permission to add
const loading = ref(false);       // set to true to disable buttons

onMounted(() => {
    bootstrapModal = Modal.getOrCreateInstance(modal.value);
});

/**
 * Opens the modal dialog and loads the permissions of the group if necessary
 *
 * @param group the group to show
 */
async function show(group) {
    groupId.value = group.id;
    groupName.value = group.name;
    newPermission.value = '';
    bootstrapModal.show();
    // load permissions lazily
    if (!permissionsCache.value.hasOwnProperty(groupId.value)) {
        loading.value = true;
        const response = await fetch('/api/admin/permissions/' + groupId.value);
        permissionsCache.value[groupId.value] = await response.json();
        loading.value = false;
    }
}

/**
 * Adds a permission to the current group
 */
function addPermission() {
    loading.value = true;
    put('admin/permissions', {
        group: groupId.value,
        permission: newPermission.value
    }).then(() => {
        permissionsCache.value[groupId.value].push(newPermission.value);
        permissionsCache.value[groupId.value].sort();
        newPermission.value = '';
        loading.value = false;
    }).catch(() => {
        loading.value = false;
    });
}

/**
 * Deletes a permission from the current group
 *
 * @param permission the permission to delete
 */
function delPermission(permission) {
    loading.value = true;
    del('admin/permissions', {
        group: groupId.value,
        permission: permission
    }).then(() => {
        permissionsCache.value[groupId.value] = permissionsCache.value[groupId.value].filter(p => p !== permission);
        loading.value = false;
    }).catch(() => {
        loading.value = false;
    });
}

defineExpose({
    show
});
</script>
