{% extends 'base_band.html.twig' %}

{% block title %}Traffic Jam {% trans %} band.apply.label {% endtrans %}{% endblock %}

{% block heading %}{% trans %} band.apply.label {% endtrans %}{% endblock %}

{% block body %}
    <!-- Introduction -->
    <div class="px-2 px-xl-0">
        <p>{% trans %} band.apply.introduction {% endtrans %}</p>
        <div class="collapse alert alert-info" id="collapse-info">
            <i class="fas fa-info-circle fa-2x fa-pull-left mt-2"></i>
            {% trans with {'%s': festival.bandApplicationEnd|date('d.m.Y') } %} band.apply.info.text {% endtrans %}
        </div>
    </div>

    <!-- Warning for new band button -->
    {% if app.request.query.has('new') %}
        <div class="alert alert-warning">
            <i class="fas fa-exclamation-triangle me-2"></i>
            {% trans %} band.apply.info.new {% endtrans %}
        </div>
    {% endif %}

    <hr>

    <!-- Navigation for previous years -->
    {% if application.festival != festival %}
        <span>{% trans %} band.apply.current {% endtrans %}:</span>
        <a href="{{ path('app_band_apply', {history: history.id}) }}">{{ festival.start|date('Y') }}</a>
        <hr>
    {% endif %}
    {% if history.applications|length > 1 %}
        <span>{% trans %} band.apply.others {% endtrans %}:</span>
        {% for a in history.applications|filter(a => a.festival != festival) %}
            {% if a.id == application.id %}
                <u class="text-muted">{{ a.festival.start|date('Y') }}</u>
            {% else %}
                <a href="{{ path('app_band_apply', {history: history.id, application: a.id}) }}">{{ a.festival.start|date('Y') }}</a>
            {% endif %}
            {%- if loop.index < history.applications|length -%}
                <span class="text-muted"> &raquo; </span>
            {%- endif -%}
        {% endfor %}
        <hr>
    {% endif %}

    <!-- Application title and alerts -->
    <h5 class="mb-3">
        {% trans with {
            '%year%': application.festival.start|date('Y'),
            '%start%': application.festival.start|date('d.m.'),
            '%end%': application.festival.end|date('d.m.'),
        } %} band.apply.title.year {% endtrans %}
    </h5>

    {% set now = date() %}
    {% if application.appliedAt is not null %}
        <div class="alert alert-info">
            <i class="fas fa-check me-3"></i>
            {% trans with {
                '%date%': application.appliedAt|date('d.m.Y'),
                '%time%': application.appliedAt|date('H:i')
            } %} band.apply.info.applied {% endtrans %}
        </div>
    {% else %}
        {% if application.festival.bandApplicationStart > now %}
            <div class="alert alert-warning">
                <i class="fas fa-hourglass-start me-3"></i>
                {% trans with {
                    '%date%': application.festival.bandApplicationStart|date('d.m.Y'),
                    '%time%': application.festival.bandApplicationStart|date('H:i')
                } %} band.apply.info.start {% endtrans %}
            </div>
        {% endif %}
        {% if application.festival.bandApplicationEnd < now %}
            <div class="alert alert-warning">
                <i class="fas fa-hourglass-end me-3"></i>
                {% trans with {
                    '%date%': application.festival.bandApplicationEnd|date('d.m.Y'),
                    '%time%': application.festival.bandApplicationEnd|date('H:i')
                } %} band.apply.info.over {% endtrans %}
            </div>
        {% elseif application.festival.bandApplicationEnd|date_modify('-3 days') < now %}
            <div class="alert alert-info">
                <i class="fas fa-hourglass-half me-3"></i>
                {% trans with {
                    '%date%': application.festival.bandApplicationEnd|date('d.m.Y'),
                    '%time%': application.festival.bandApplicationEnd|date('H:i')
                } %} band.apply.info.end {% endtrans %}
            </div>
        {% endif %}
        {% if application.id != null and application.festival.bandApplicationStart < now and application.festival.bandApplicationEnd > now %}
            <div class="alert alert-info">
                <i class="fas fa-hand-point-right me-3"></i>
                {% trans %} band.apply.info.send {% endtrans %}
            </div>
        {% endif %}
    {% endif %}

    <!-- If band voting is done and the band final status is finished, display results -->
    {% if application.festival.bandRatingEnd < now and application.festival.bandFinalStatus == 'finished' and scoreSummary.count > 0 %}
        <div class="card mb-3 {% if scoreSummary.score < application.festival.bandApplicationGood %} border-success {%- elseif scoreSummary.score < application.festival.bandApplicationBad -%} border-warning {%- else -%} border-danger {%- endif -%}">
            <div class="card-header"><strong>{{ 'band.apply.result.header' | trans({'%year%': application.festival.start | date('Y')}) }}</strong></div>
            <div class="card-body">
                {% if scoreSummary.score < application.festival.bandApplicationGood %}
                    <i class="fas fa-3x fa-pull-left fa-grin-stars text-success"></i>
                    <p>{{ 'band.apply.result.good' | trans | nl2br }}</p>
                {% elseif scoreSummary.score < application.festival.bandApplicationBad %}
                    <i class="fas fa-3x fa-pull-left fa-smile text-warning"></i>
                    <p>{{ 'band.apply.result.average' | trans | nl2br }}</p>
                {% else %}
                    <i class="fas fa-3x fa-pull-left fa-frown text-danger"></i>
                    <p>{{ 'band.apply.result.bad' | trans | nl2br }}</p>
                {% endif %}
                <p class="mb-0">{{ 'band.apply.result.general' | trans | nl2br }}</p>
            </div>
        </div>
    {% endif %}

    <!-- Actual application form -->
    {{ form_start(form) }}
    <div class="row">
        <div class="col-12 col-md-6">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_help(form.name) }}
        </div>
        <div class="col-12 col-md-6">
            {{ form_label(form.location) }}
            {{ form_widget(form.location) }}
            {{ form_help(form.location) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <label class="form-label">{% trans %} band.apply.contact.label {% endtrans %} <span class="text-danger">*</span></label>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            {{ form_widget(form.contact_name, {attr: {placeholder: 'name'}}) }}
            {{ form_help(form.contact_name) }}
        </div>
        <div class="col-12 col-sm-6 col-md-4 mt-2 mt-md-0">
            {{ form_widget(form.contact_email, {attr: {placeholder: 'form.email'}}) }}
            {{ form_help(form.contact_email) }}
        </div>
        <div class="col-12 col-sm-6 col-md-4 mt-2 mt-md-0">
            {{ form_widget(form.contact_phone, {attr: {placeholder: 'phone'}}) }}
            {{ form_help(form.contact_phone) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <label class="form-label mb-0">{% trans %} band.apply.internet.label {% endtrans %}</label><br>
            <small class="text-muted">{% trans %} band.apply.internet.help {% endtrans %}</small>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-sm-6 col-md-4">
            {{ form_widget(form.website) }}
        </div>
        <div class="col-12 col-sm-6 col-md-4 mt-2 mt-sm-0">
            {{ form_widget(form.facebook) }}
        </div>
        <div class="col-12 col-sm-6 col-md-4 mt-2 mt-md-0">
            {{ form_widget(form.instagram) }}
        </div>
        <div class="col-12 col-sm-6 col-md-4 mt-2">
            {{ form_widget(form.youtube) }}
        </div>
        <div class="col-12 col-sm-6 col-md-4 mt-2">
            {{ form_widget(form.spotify) }}
        </div>
        <div class="col-12 col-sm-6 col-md-4 mt-2">
            {{ form_widget(form.twitter) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {{ form_label(form.genres) }}
            {{ form_widget(form.genres) }}
            {{ form_help(form.genres) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {{ form_label(form.application) }}
            <span class="float-end">
                <a
                    id="popover-media"
                    tabindex="-1"
                    role="button"
                    class="btn btn-link text-info p-0"
                    data-bs-toggle="popover"
                    data-bs-placement="left"
                    data-bs-content="{% trans with {'%files%': '<code>.jpg</code>, <code>.jpeg</code>, <code>.png</code>, <code>.gif</code>, <code>.svg</code>'} %} band.apply.mediapreview.help {% endtrans %}"
                >
                    <i class="fas fa-info-circle"></i>
                </a>
            </span>
            {{ form_widget(form.application, {attr: {'rows': 15}}) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            {{ form_label(form.members) }}
            {{ form_widget(form.members, {attr: {'min': 1}}) }}
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            {{ form_label(form.genders) }}
            <a id="popover-genders" tabindex="-1" role="button" class="btn btn-link text-info p-0" data-bs-toggle="popover" data-bs-placement="top"
               data-bs-content="{{ 'band.apply.genders.help' | trans }}">
                <i class="far fa-question-circle text-muted"></i>
            </a>
            {{ form_widget(form.genders) }}
        </div>
        <div class="col-12 col-lg-6 col-md-4 mt-2 mt-md-0">
            {{ form_label(form.fee) }}
            {{ form_widget(form.fee) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-sm-6 mt-2 mt-sm-0">
            {{ form_label(form.technician) }}
            {{ form_widget(form.technician) }}
        </div>
        <div class="col-12 col-sm-6 mt-2 mt-sm-0">
            {{ form_label(form.accommodation) }}
            {{ form_widget(form.accommodation) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {{ form_widget(form.save, {attr: {'class': 'btn-secondary'}}) }}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-send"
                    {% if form.vars.disabled %} disabled {% endif %}>
                {% trans %} band.apply.send.label {% endtrans %}
            </button>
            {% if not form.vars.disabled and application.id != null and application.appliedAt == null %}
                <button type="button" class="btn btn-outline-danger float-end" data-bs-toggle="modal" data-bs-target="#modal-delete">
                    {% trans %} band.apply.delete.label {% endtrans %}
                </button>
            {% endif %}
        </div>
    </div>
    <div class="modal fade" id="modal-send" tabindex="-1" aria-labelledby="modal-send-header" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-send-header">{% trans %} band.apply.send.label {% endtrans %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% trans %} band.apply.send.warning {% endtrans %}
                    <div class="alert alert-info mt-3">
                        <i class="fas fa-info-circle fa-2x fa-pull-left mt-2"></i>
                        {% trans %} band.apply.send.privacy {% endtrans %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %} cancel {% endtrans %}</button>
                    {{ form_widget(form.send) }}
                </div>
            </div>
        </div>
    </div>
    {% if not form.vars.disabled and application.id != null and application.appliedAt == null %}
        <div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="modal-delete-header" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-delete-header">{% trans %} band.apply.delete.label {% endtrans %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% trans %} band.apply.delete.warning {% endtrans %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %} cancel {% endtrans %}</button>
                        <a class="btn btn-danger" href="{{ path('app_band_delete', {id: application.id}) }}">
                            {% trans %} delete {% endtrans %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {{ form_widget(form._token) }}
    {{ form_end(form, {render_rest: false}) }}

    {% include 'band/mediapreview.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('band/popover') }}
    {{ vite_entry_script_tags('band/social_media') }}
    {% if videos[0]|length > 0 %}
        {{ vite_entry_script_tags('band/ytplayer') }}
    {% endif %}
    {% if spotify[0]|length > 0 %}
        {{ vite_entry_script_tags('band/spotify') }}
    {% endif %}
{% endblock %}
