{% extends 'base_band.html.twig' %}
{% import 'buttons.html.twig' as buttons %}

{% block heading %}{% trans %} band.apply.label {% endtrans %}{% endblock %}

{% block body %}
    <p>{{ 'band.apply.info.text' | trans({'%date%': festival.bandApplicationEnd|date('d.m.Y')}) | nl2br }}</p>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-xl-4">
            {{ buttons.link(path('app_band_apply'), 'fa-file-invoice', 'band.apply.label', true) }}
        </div>
    </div>
{% endblock %}