{% set mediacount = images|length + videos[0]|length %}
{% if mediacount > 0 %}
    <div class="card mt-3" id="mediapreview">
        <div class="card-header">
            <strong>{% trans %} band.apply.mediapreview.label {% endtrans %}</strong>
        </div>
        <div class="card-body bg-dark p-0">
            <div class="carousel slide bg-dark" id="carousel-image" data-bs-ride="false">
                {% if mediacount > 1 %}
                    <div class="carousel-indicators">
                        {% for image in images %}
                            <button type="button" data-bs-target="#carousel-image" data-bs-slide-to="{{ loop.index0 }}"
                                    {% if loop.first %} class="active" {% endif %}></button>
                        {% endfor %}
                        {% for video in videos[0] %}
                            <button type="button" data-bs-target="#carousel-image" data-bs-slide-to="{{ images|length + loop.index0 }}"
                                    {% if images|length + loop.index0 == 0 %} class="active" {% endif %}></button>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="carousel-inner">
                    {% for image in images %}
                        <div class="carousel-item {% if loop.first %} active {% endif %}">
                            <div class="ratio ratio-16x9">
                                <a class="flex-centered" href="{{ image }}" target="_blank" rel="noopener noreferrer">
                                    <img src="{{ image }}" alt="Image {{ loop.index }} / {{ loop.length }}">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    {% for video in videos[0] %}
                        <div class="carousel-item {% if images|length + loop.index0 == 0 %} active {% endif %}">
                            <div class="ratio ratio-16x9">
                                <iframe class="embed-responsive-item ytplayer" id="ytplayer-{{ loop.index0 }}" type="text/html"
                                        src="https://www.youtube.com/embed/{{ videos[1][loop.index0] }}?enablejsapi=1{{ videos[2][loop.index0] }}"
                                        width="16" height="9" allowfullscreen></iframe>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if mediacount > 1 %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-image" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-image" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
{% if spotify[0]|length > 0 %}
    {% set spotify_artist_id = get_spotify_artist_id(spotify[0][0]) %}
    {% if spotify_artist_id is not null %}
        <div class="card mt-3">
            <div class="card-header d-flex align-items-center">
                {% set stats = get_spotify_stats(spotify[0][0]) %}
                <i class="fab fa-spotify"></i>
                {% if stats is not null %}
                    <small class="text-muted ms-2">
                        {% if stats.error is defined %}
                            <i class="fas fa-exclamation-triangle text-warning"></i> {{ stats.error }}
                        {% else %}
                            {{ stats.followers|number_format }} Follower
                        {% endif %}
                    </small>
                {% endif %}
            </div>
            <div class="card-body p-2">
                <iframe style="border-radius:12px"
                        src="https://open.spotify.com/embed/artist/{{ spotify_artist_id }}"
                        width="100%"
                        height="352"
                        frameBorder="0"
                        allowfullscreen=""
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                        loading="lazy">
                </iframe>
            </div>
        </div>
    {% endif %}
{% endif %}