<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">An:</div>
                    </div>
                    <input type="text" class="form-control" value="{{ to }}" disabled>
                </div>
                <div class="input-group mt-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Betreff:</div>
                    </div>
                    {% set subject = template is not null ? template.subject %}
                    <input type="text" class="form-control" value="{{ subject }}" id="{{ form.subject.vars.id }}" name="{{ form.subject.vars.full_name }}" required>
                </div>
                <textarea class="form-control textarea-fixed mt-2" id="{{ form.text.vars.id }}" name="{{ form.text.vars.full_name }}" rows="{{ form.text.vars.attr.rows }}" required>
                    {%- if template is not null -%}
                        {%- set text = template.text -%}
                        {%- for var in template.variables -%}
                            {%- set text = text|replace({
                                '%firstname%': volunteer.firstname,
                                '%surname%': volunteer.surname,
                                '%username%': app.user.name
                            }) -%}
                        {%- endfor -%}
                        {{ text }}
                    {%- endif -%}
                </textarea>
                <small class="text-muted">Du kannst in dieser E-Mail <a href="https://commonmark.org/help/" target="_blank">Markdown</a> verwenden.</small>
                {{ form_row(form._token) }}
            </div>
            <div class="modal-footer">
                <input class="btn btn-outline-dark" type="button" value="{% trans %}cancel{% endtrans %}" data-bs-dismiss="modal">
                <input class="btn {{ submit_class }}" type="submit" name="{{ form.submit.vars.full_name }}" id="{{ form.submit.vars.id }}" value="{{ submit }}">
            </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</div>