<div class="modal fade" id="modal-statusreset" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Anmeldungen zurücksetzen</h5>
            </div>
            <div class="modal-body">
                <div class="card border-danger">
                    <div class="card-body">
                        <h5 class="card-title">Achtung! Änderungen können nicht rückgängig gemacht werden!</h5>
                        <p>Der Status der Anmeldungen wird auf "Veraltet" gesetzt. Außerdem werden alle Gruppenzugehörigkeiten entfernt.</p>
                        {{ form(reset_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>