<div class="modal fade" id="modal-groupemail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Gruppen E-Mail senden</h5>
            </div>
            <div class="modal-body">
                <div>
                    <u>An alle Personen mit folgendem Status:</u><br>
                    {% for status, checked in status_list %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="status-{{ status }}" name="status"
                                   value="{{ status }}" {% if checked %} checked {% endif %}>
                            <label class="form-check-label" for="status-{{ status }}">{{ ('volunteer.status.' ~ status) | trans }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <u>Einschränken auf die folgenden Gruppen:</u><br>
                    {% for group in groups %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="group-{{ group.id }}" name="groups" value="{{ group.id }}">
                            <label class="form-check-label" for="group-{{ group.id }}">{{ group.name }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="input-group mt-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Betreff:</div>
                    </div>
                    {% set subject = template is not null ? template.subject %}
                    <input type="text" class="form-control" id="email-subject" value="{{ subject }}" required>
                </div>
                <textarea class="form-control textarea-fixed mt-2" id="email-body" rows="15" required>
                    {%- if template is not null -%}
                        {{ template.text }}
                    {%- endif -%}
                </textarea>
                <small class="text-muted">Du kannst in dieser E-Mail <a href="https://commonmark.org/help/" target="_blank">Markdown</a> verwenden.</small>
            </div>
            <div class="modal-footer">
                <div class="progress w-100" style="display: none" id="email-progress-div">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" id="email-progress"></div>
                </div>
                <button class="btn btn-primary" id="email-send" type="submit">Senden</button>
                <button class="btn btn-warning" style="display: none" id="email-send-confirm">E-Mail an&nbsp;<strong id="email-persons"></strong>&nbsp;Personen senden</button>
                <button class="btn btn-outline-dark" id="email-cancel" type="button">Abbrechen</button>
                <button class="btn btn-outline-dark" id="email-close" type="button" data-bs-dismiss="modal" style="display: none;">Schließen</button>
            </div>
        </div>
    </div>
</div>