{% extends 'base_sidebar.html.twig' %}
{% import 'buttons.html.twig' as buttons %}

{% block title %}Helfer & Personal{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between ps-1 mb-3 flex-wrap">
        <p class="fs-3 m-0">Helfer und Personal</p>

        {{ form_start(search_form) }}
        <div class="input-group">
            <span class="lead my-auto me-2">Suche: </span>
            {{ form_widget(search_form.outdated, {attr: {class: 'form-switch my-auto me-2'}}) }}
            {{ form_widget(search_form.search, {attr: {style: 'max-width: 250px; min-width: 180px', placeholder: 'name'}}) }}
            {{ form_widget(search_form.submit, {attr: {class: 'btn-outline-secondary'}}) }}
        </div>
        {{ form_end(search_form) }}
    </div>

    <div class="row">
        <div class="col-12 col-xxl-3 order-xxl-last mb-2">
            <div class="card">
                <div class="card-header">
                    Aktionen
                </div>
                <div class="card-body pt-2">
                    <button type="button" class="btn btn-outline-danger mt-2" data-bs-toggle="modal" data-bs-target="#modal-statusreset">
                        Status zurücksetzen
                    </button>
                    <button type="button" class="btn btn-outline-info mt-2" data-bs-toggle="modal" data-bs-target="#modal-groupemail">
                        Gruppen E-Mail
                    </button>
                    {# <button type="button" class="btn btn-outline-dark">Gruppen bearbeiten</button> #}
                </div>
            </div>
        </div>

        <div class="col-12 col-xxl-9">
            <div class="card">
                <div class="card-header">
                    <span class="my-auto me-2">Alle Helfer (
                            <span class="badge bg-dark">Alle {{ volunteers|length }}</span>
                            {% for group in groups %}
                                <span class="badge bg-{{ group.color }}">{{ group.name }} {{ group.volunteers|length }}</span>
                            {% endfor %}
                            )
                        </span>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Status</th>
                                <th>Name</th>
                                <th>E-Mail</th>
                                <th>Gruppen</th>
                                <th>Schichten</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for volunteer in volunteers %}
                                <tr data-link-target="#a-{{ volunteer.id }}">
                                    <td>{{ volunteer.id }}</td>
                                    <td>
                                        {% include 'volunteer/staff/__status-icon.html.twig' %}
                                    </td>
                                    <td>{{ volunteer.firstname }} {{ volunteer.surname }}</td>
                                    <td>{% if is_granted('staff.info.personal') %}{{ volunteer.user.email }}{% else %}<i
                                                class="text-muted">versteckt</i>{% endif %}</td>
                                    <td>
                                        {% for group in volunteer.groups %}
                                            <span class="badge bg-{{ group.color }}">{{ group.name }}</span>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <span class="badge rounded-pill bg-secondary">{{ volunteer.shifts|length }}</span>
                                        <a class="px-2 float-end" id="a-{{ volunteer.id }}" href="{{ path('app_staff_detail', {volunteer: volunteer.id}) }}">
                                            <i class="fas fa-angle-right"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'volunteer/staff/__modal-groupemail.html.twig' with {
        'template': null,
    } %}
    {% include 'volunteer/staff/__modal-statusreset.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('staff/staff') }}
{% endblock %}
