{% extends 'base_sidebar.html.twig' %}
{% import 'buttons.html.twig' as buttons %}

{% block title %}{{ volunteer.firstname }} {{ volunteer.surname }}{% endblock %}

{% set sidebar_parent = {
    route: 'app_staff',
    label: volunteer.firstname ~ ' ' ~ volunteer.surname,
} %}

{% macro shiftInfo(shift, volunteer) %}
    {% set sv = volunteer.getShiftVolunteer(shift) %}
    <i class="fas fa-fw {{ sv != null ? 'fa-check text-success' : 'fa-times text-danger' }}"></i> {{ shift.start|date('D d.m') }}
    {% if sv %}
        <span class="text-muted">({{ sv.start|date('H') }}-{{ sv.end|date('H') }} Uhr)</span>
    {% endif %}
{% endmacro %}

{% macro dayInfo(day, volunteer) %}
    <i class="fas fa-fw {{ day in volunteer.days ? 'fa-check text-success' : 'fa-times text-danger' }}"></i> {{ day.date|date('D d.m') }}
{% endmacro %}

{% block body %}
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-4 order-first">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <strong>{{ volunteer.firstname }} {{ volunteer.surname }}</strong>
                    {% include 'volunteer/staff/__status-icon.html.twig' %}
                </div>
                <table class="table mb-0">
                    {% if is_granted('staff.info.personal') %}
                        <tr>
                            <th scope="row" class="border-top-0">E-Mail:</th>
                            <td class="border-top-0">{{ volunteer.user.email }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Telefon:</th>
                            <td>{{ volunteer.phone }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Geschlecht:</th>
                            <td>{{ ('gender.' ~ volunteer.gender)|trans() }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Geburtstag:</th>
                            <td>{{ volunteer.birthday|date('d.m.Y') }} ({{ volunteer.birthday.diff(date()).y }})</td>
                        </tr>
                        <tr>
                            <th scope="row">Essen:</th>
                            <td>{{ ('food.' ~ volunteer.food)|trans() }}</td>
                        </tr>
                        <tr class="text-decoration-line-through">
                            <th scope="row">T-Shirt:</th>
                            <td>{{ volunteer.shirtsize ?? 'Nein' }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Angemeldet am:</th>
                            <td>{{ volunteer.appliedAt|date('d.m.Y H:i') }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">Präferierte Bereiche:</th>
                        <td>
                            {% for pref in volunteer.preferredAreas %}
                                <p class="m-0">{{ pref.preference }}. {{ pref.shiftArea.name }}</p>
                            {% else %}
                                <i>Keine</i>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Schichten pro Tag:</th>
                        <td>{{ volunteer.preferredShifts }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Gruppen zuordnen:</th>
                        <td>
                            {% for group in groups %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="volunteer-group" data-volunteer="{{ volunteer.id }}"
                                           data-group="{{ group.id }}" id="type-{{ group.id }}" {% if group in volunteer.groups %} checked {% endif %}
                                            {% if not is_granted('api.volunteergroup') %} disabled {% endif %}>
                                    <label class="form-check-label text-{{ group.color }}" for="type-{{ group.id }}">{{ group.name }}</label>
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                    {% if is_granted('staff.info.personal') %}
                        <tr>
                            <th scope="row">Vereinsanmeldung:</th>
                            <td>
                                <a class="btn btn-outline-primary" href="{{ path('app_staff_member_form', {volunteer: volunteer.id}) }}">
                                    <i class="fas fa-file-pdf"></i> Download PDF
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-4 mt-2 mt-lg-0 order-1">
            <div class="card">
                <div class="card-header">
                    <strong>Anwesende Tage</strong>
                </div>
                <div class="card-body py-0 px-2">
                    <div class="row py-1">
                        <div class="col-12"><strong>Aufbau:</strong></div>
                        {% for shift in construction %}
                            <div class="col-12 col-sm-6">{{ _self.shiftInfo(shift, volunteer) }}</div>
                        {% endfor %}
                    </div>
                    <div class="row py-1 border-top">
                        <div class="col-12"><strong>Während dem Festival:</strong></div>
                        {% for shift in days %}
                            <div class="col-12 col-sm-6">{{ _self.dayInfo(shift, volunteer) }}</div>
                        {% endfor %}
                    </div>
                    <div class="row py-1 border-top">
                        <div class="col-12"><strong>Abbau:</strong></div>
                        {% for shift in dismantling %}
                            <div class="col-12 col-sm-6">{{ _self.shiftInfo(shift, volunteer) }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-4 mt-2 mt-xl-0 order-2 order-lg-3 order-xl-2">
            <div class="card">
                <div class="card-header">
                    <strong>Eingeteilte Schichten</strong>
                </div>
                <div class="card-body">
                    {% for shift in shifts %}
                        <a class="text-body" href="{{ path('app_shift', {active: shift.area.id}) }}">
                            <strong>{{ shift.day.date|date('D d.m.') }}</strong>
                            <span class="text-muted">{{ shift.start|date('H:i') }}-{{ shift.end|date('H:i') }} Uhr</span>
                            {{ shift.area.name }}
                        </a>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-4 mt-2 order-3 order-lg-2 order-xl-3">
            <div class="card">
                <div class="card-header">
                    <strong>Erfahrung</strong>
                </div>
                <div class="card-body">
                    {{ volunteer.experience }}
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-4 mt-2 order-4">
            <div class="card">
                <div class="card-header">
                    <strong>Mitteilungen</strong>
                </div>
                <div class="card-body">
                    {{ volunteer.comments }}
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-4 mt-2 order-5">
            <div class="card">
                <div class="card-header">
                    <strong>Interne Notizen</strong>
                </div>
                <div class="card-body">
                    {% if is_granted('staff.edit') %}
                        {{ form_start(form_note) }}
                        {{ form_widget(form_note.text) }}
                        <div class="mt-2">
                            {{ form_widget(form_note.submit) }}
                        </div>
                        {{ form_end(form_note) }}
                    {% else %}
                        {{ volunteer.notes | nl2br }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if is_granted('staff.edit') %}
        <div class="row mt-1">
            <div class="col-12 col-md-6 col-lg-3 mt-2">
                <button type="button" class="btn btn-success form-control" data-bs-toggle="modal" data-bs-target="#modal-accept"
                        data-backdrop="static" data-keyboard="false">
                    Anmeldung akzeptieren
                </button>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-2">
                <button type="button" class="btn btn-danger form-control" data-bs-toggle="modal" data-bs-target="#modal-deny"
                        data-backdrop="static" data-keyboard="false">
                    Anmeldung ablehnen
                </button>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-2">
                <button type="button" class="btn btn-info form-control" data-bs-toggle="modal" data-bs-target="#modal-email"
                        data-backdrop="static" data-keyboard="false">
                    E-Mail schreiben
                </button>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-2">
                <button type="button" class="btn btn-secondary form-control" data-bs-toggle="modal" data-bs-target="#modal-status">
                    Status ändern
                </button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <strong>E-Mail Historie</strong>&nbsp;&nbsp;&nbsp;<i>Wichtig: Hier werden nur E-Mails angezeigt, die durch dieses
                            Tool verschickt wurden!</i>
                    </div>
                    <table class="table table-sm mb-0">
                        {% for email in emailrecords %}
                            <tr>
                                <th scope="row" class="{{ loop.first ? 'border-top-0' }}">Gesendet am:</th>
                                <td class="{{ loop.first ? 'border-top-0' }}">{{ email.sentAt|date('d.m.Y H:i') }} Uhr</td>
                            </tr>
                            <tr>
                                <th scope="row">Gesendet von:</th>
                                <td>{{ email.sender.name ?? email.sender.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Betreff:</th>
                                <td>{{ email.subject }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Inhalt:</th>
                                <td>
                                    {{ email.text|markdown_to_html }}
                                </td>
                            </tr>
                            {% if not loop.last %}
                                <tr>
                                    <td colspan="2" class="bg-light"></td>
                                </tr>
                            {% endif %}
                        {% else %}
                            <tr>
                                <i>Keine E-Mails verschickt</i>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

    {% include 'volunteer/staff/__modal-email.html.twig' with {
        'id': 'modal-accept',
        'title': 'Anmeldung von ' ~ volunteer.firstname ~ ' annehmen',
        'submit': 'Anmeldung annehmen',
        'submit_class': 'btn-success',
        'to': volunteer.user.email,
        'volunteer': volunteer,
        'form': form_accept,
        'template': template_accept
    } %}

    {% include 'volunteer/staff/__modal-email.html.twig' with {
        'id': 'modal-deny',
        'title': 'Anmeldung von ' ~ volunteer.firstname ~ ' ablehnen',
        'submit': 'Anmeldung ablehnen',
        'submit_class': 'btn-danger',
        'to': volunteer.user.email,
        'volunteer': volunteer,
        'form': form_deny,
        'template': template_deny
    } %}

    {% include 'volunteer/staff/__modal-email.html.twig' with {
        'id': 'modal-email',
        'title': 'Email an ' ~ volunteer.firstname ~ ' senden',
        'submit': 'E-Mail Senden',
        'submit_class': 'btn-primary',
        'to': volunteer.user.email,
        'volunteer': volunteer,
        'form': form_email,
        'template': template_email
    } %}

    {% include 'volunteer/staff/__modal-status.html.twig' with {
        'form': form_status,
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('staff/volunteer') }}
{% endblock %}
