// Bootstrap imports (see https://getbootstrap.com/docs/5.2/customize/sass/#importing)
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// local variables
@import "variables";

// colors
$content-background-color: rgba(233, 233, 233, 0.9);
$sidebar-color: rgba(230, 230, 230, 1);
$navbar-drawer-color: rgba(255, 255, 255, 1);

// dimensions
$grid-gutter-width: 1rem;
$header-height: 56px;
$sidebar-width: 275px;

// z-index
$zindex-header: 600;
$zindex-sidebar: 500;
$zindex-wrapper: 400;

// animations
$transition-sidebar: 0.3s;

// display font size (make them a little bit smaller)
$display-font-sizes: (
        1: 4rem,
        2: 3.5rem,
        3: 3rem,
        4: 2.5rem,
        5: 2.25rem,
        6: 2rem
);

// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

// 6. Optionally include any other parts as needed
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/placeholders";
@import "~bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/api";

// 8. Add additional custom code here
@import "~bootstrap-select/sass/bootstrap-select";
$fa-font-path: '~fontawesome/webfonts';
@import "~fontawesome/scss/fontawesome";
@import "~fontawesome/scss/solid";
@import "~fontawesome/scss/regular";
@import "~fontawesome/scss/brands";

/**
 * GENERAL LAYOUT
 */

body {
  background: url($background-image) no-repeat center center fixed;
  background-size: cover;
}

// Elements with this class should not be animated when the page is loaded.
// The class gets removed via javascript after some time.
.preload {
  transition: all 0s !important;
}

// main content has background to help differentiate it in front of the background image
.app-content {
  padding: 1rem;
  background-color: $content-background-color;
}

// make content padding a little bit smaller on small viewports to save space
@include media-breakpoint-down(md) {
  .app-content {
    padding: 1rem .5rem 1rem .5rem;
  }
}

// image formatting

a img {
  cursor: zoom-in;
}

.ratio img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
 * HEADER // FOOTER // SIDEBAR
 */

// the header is always at the top, content scrolls beneath it
.app-header {
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100%;
  z-index: $zindex-header;
  background-color: $primary;
  box-shadow: 0 2px 4px darken($primary, 15%);
}

.app-footer {
  box-shadow: 0 2px 4px darken($secondary, 15%);
}

// the sidebar is always on the left and does not scroll
.app-sidebar {
  position: fixed;
  left: 0;
  // the sidebar takes the remaining height of the viewport minus the header height
  height: calc(100vh - #{$header-height});
  width: $sidebar-width;
  // this is a stupid workaround for mobile browsers. 100vh includes the address bar at the top and
  // without this the lowest entry in the sidebar would clip below the screen...
  padding-bottom: $header-height;
  z-index: $zindex-sidebar;
  overflow-y: auto;
  background-color: $sidebar-color;
  box-shadow: 0 2px 4px darken($sidebar-color, 30%);
  transition: margin $transition-sidebar, box-shadow $transition-sidebar;
}

// hide the sidebar if it is collapsed
.app-sidebar.collapsed {
  margin-left: -$sidebar-width;
  box-shadow: none;
}

// the content and footer get wrapped inside this div
.app-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-top: $header-height;
  margin-left: $sidebar-width;
  // the wrapper takes at least the remaining height of the viewport minus the header height
  min-height: calc(100vh - #{$header-height});
  transition: margin $transition-sidebar;
}

// Used to darken the content on small viewports when the sidebar is opened.
// Has to be defined here, otherwise the transition does not apply.
.app-wrapper::after {
  content: '\A';
  position: fixed;
  z-index: $zindex-wrapper;
  transition: background-color $transition-sidebar;
}

// if the sidebar is collapsed remove the margin on the wrapper
.app-sidebar.collapsed ~ .app-wrapper {
  margin-left: 0;
}

// for small viewports ignore the collapsed class and use the toggled class instead
@include media-breakpoint-down(sm) {
  // collapse the sidebar by default
  .app-sidebar {
    margin-left: -$sidebar-width;
    box-shadow: none;
  }

  // only show it when toggled
  .app-sidebar.toggled {
    margin-left: 0;
  }

  // the content will always be behind the sidebar
  .app-wrapper {
    margin-left: 0;
  }

  // if the sidebar is open darken the main content
  .app-sidebar.toggled ~ .app-wrapper::after {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

/**
 * NAVBAR
 */

.navbar-dark .nav-link {
  color: $navbar-dark-color;
}

.navbar-dark .nav-link:hover {
  color: $navbar-dark-hover-color;
}

.navbar-dark .btn-outline-light:not(:hover) {
  color: $navbar-dark-color;
  border-color: $navbar-dark-color;
}

.navbar-light .nav-link {
  color: $navbar-light-color;
}

.navbar-light .nav-link:hover {
  color: $navbar-light-hover-color;
}

// sidebar drawers

.nav-drawer {
  color: black;
  background-color: $navbar-drawer-color;
  border: 1px darken($navbar-drawer-color, 16%) solid;
  padding: .75rem 1rem .75rem 1rem;
  cursor: pointer;
}

a.nav-drawer {
  text-decoration: none;
}

a.nav-drawer:hover {
  text-decoration: underline;
}

.nav-drawer.active {
  color: white;
  background-color: $primary;
  padding-left: 1.5rem;
}

.nav-drawer:hover {
  color: darken(white, 80%);
  text-decoration: none;
}

.nav-drawer.active:hover {
  color: darken(white, 7%);
}

.nav-drawer:not(:first-child) {
  border-top: none;
}

.nav-drawer .fas {
  width: 16px;
}

/**
 * LINKS
 */

// dont underline links at all
a.no-underline {
  text-decoration: none !important;
}

// just underline links when hovered
a.hover-underline:not(:hover) {
  text-decoration: none !important;
}

// table hover
tr[data-link-target] {
  cursor: pointer;
}

tr[data-link-target]:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/**
 * FORMS
 */

legend.required::after, label.required::after {
  content: " *";
  color: $danger;
  font-weight: 500;
}
