@import "app_sidebar";

.inventory-image-container {
  display: flex;
  @include media-breakpoint-down(xxl) {
    overflow: auto;
  }
  // wrap images on xxl viewport (on the right side)
  @include media-breakpoint-up(xxl) {
    flex-wrap: wrap;
  }
}

.inventory-image {
  position: relative;
  flex-shrink: 0;
  width: 150px;
  // two images per row on xxl viewport (on the right side)
  @include media-breakpoint-up(xxl) {
    width: 48%;
  }
  height: 150px;
  cursor: pointer;
}

.inventory-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.inventory-image-delete {
  position: absolute;
  top: 0;
  right: 0;
  color: $danger;
  z-index: 1;
}

.inventory-image-delete:hover {
  color: shift-color($danger, $link-shade-percentage);
}

.inventory-gallery {
  background-color: rgba(0, 0, 0, .75);
}

.inventory-gallery img {
  height: 100vh;
  width: 100%;
  object-fit: scale-down;
}

.modal-control-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}
