@import "app_sidebar";

// shift time tables

.shift-table {
  display: grid;
  grid-gap: 1px;
  background-color: $secondary;
  border: 1px solid $secondary;
}

.shift-table-time {
  padding: .5rem .25rem;
  background-color: $light;
  font-weight: bold;
}

.shift-table-shift {
  padding: .25rem .5rem .5rem .25rem;
  background-color: $light;
}

.shift-table-construction {
  padding: .5rem .25rem;
  background-color: $light;
}

.shift-table-buttons {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .25s linear;
}

.shift-table-shift:hover .shift-table-buttons {
  visibility: visible;
  opacity: 1;
}

.shift-table-buttons > i {
  cursor: pointer;
}

.shift-table-volunteer:hover {
  background-color: #ddd;
  border-radius: .25rem;
  cursor: pointer;
}