<template>
    <div>
        <TravelPartyModal v-if="festivalStore.currentFestival" ref="modal" :festival="festivalStore.currentFestival"/>
        <p class="fs-3 m-0 d-inline">Band Checkin</p>
        <a class="btn btn-sm btn-outline-success ms-3 mb-2" href="/bandcheckin/bands">
            Bands verwalten
        </a>
        <button v-if="editable" class="btn btn-sm btn-outline-success ms-3 mb-2" @click="modal.show()">
            <i class="fas fa-plus"></i> Neue Travel Party
        </button>
        <h1 class="display-6 m-0 float-end">{{ timeFormat.format(time) }}</h1>
        <div v-if="festivalStore.currentFestival" class="table-responsive mt-3">
            <table class="table table-sm table-hover table-light">
                <thead>
                <tr>
                    <th scope="col">Band</th>
                    <th scope="col">Tag</th>
                    <th scope="col">Fahrzeug</th>
                    <th scope="col">Stagetime</th>
                    <th scope="col" colspan="2">Travel Party</th>
                    <td>Plus</td>
                    <td v-for="day in festivalStore.currentFestivalDays">{{ getDayLabel(day.date) }}</td>
                    <td>Camping</td>
                    <td>Checkin</td>
                    <td>Backstage</td>
                    <th v-if="editable"><!-- Buttons --></th>
                </tr>
                </thead>
                <tbody v-if="!loading">
                <template v-for="party in store.travelPartiesSorted" :key="party.id">
                    <tr :class="getPartyColor(party)">
                        <td>{{ party.band.name }}</td>
                        <td>{{ getDayLabel(party.day.date) }}</td>
                        <td>{{ party.vehicle }}</td>
                        <td>{{ getTime(party.stageTime) }}</td>
                        <td :colspan="festivalStore.currentFestivalDays.length + 4" class="text-center">
                            <i>Band einchecken:</i>
                        </td>
                        <td colspan="2">
                            <button
                                v-if="!party.checkedIn"
                                class="btn btn-sm btn-success form-control"
                                @click="checkinParty(party)"
                                :disabled="!canCheckin"
                            >
                                Band Checkin
                            </button>
                            <button v-else class="btn btn-sm btn-outline-success form-control" disabled>
                                Band ist Anwesend
                            </button>
                        </td>
                        <td v-if="editable" style="white-space: nowrap">
                            <button class="btn btn-link text-muted py-0 px-1 mx-1" @click="modal.show(party)">
                                <i class="fas fa-pen"></i>
                            </button>
                            <button class="btn btn-link text-danger py-0 px-1 mx-1" @click="store.deleteTravelParty(party.id)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <GuestlistTableRow
                        v-for="entry in store.travelPartyGuestList(party)"
                        :key="entry.id"
                        :days="festivalStore.currentFestivalDays"
                        :entry="entry"
                        :paddingStart="4"
                        :paddingEnd="1"
                        :showEntryTypeIcon="false"
                        :showOrigin="false"
                        :showEdit="false"
                    />
                </template>
                </tbody>
                <tbody v-else>
                <tr>
                    <td :colspan="festivalStore.currentFestivalDays.length + 11" class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script setup>
import { put } from '../../api.js';
import { getDayLabel } from '../util.js';
import TravelPartyModal from './TravelPartyModal.vue';
import GuestlistTableRow from '../GuestListTableRow.vue';
import { computed, onMounted, ref } from 'vue';
import { useGuestListStore } from '../guestlist-store.js';
import { useFestivalStore } from '../../festival/festival-store';
import { usePermissionStore } from '../../system/permission-store';
import { useTimestamp } from '@vueuse/core';

const store = useGuestListStore();
const festivalStore = useFestivalStore();
const permissions = usePermissionStore();

const loading = ref(false);

const editable = computed(() => permissions.isGranted('checkin.edit'));
const canCheckin = computed(() => permissions.isGranted('checkin.checkin'));

const modal = ref();

const timeFormat = Intl.DateTimeFormat(navigator.language, {
    hour: 'numeric',
    minute: 'numeric',
    second: 'numeric'
});
const time = useTimestamp({interval: 1000});    // live clock

onMounted(async () => {
    loading.value = true;
    const festival = await festivalStore.fetchCurrentFestival();
    await Promise.all([
        store.fetchBands(),
        store.fetchAndSubscribeGuestlist(festival.id),
        store.fetchAndSubscribeTravelParties(festival.id),
        permissions.fetchPermissions(),
    ]);
    loading.value = false;
});

function getTime(dateString) {
    return new Date(dateString).toLocaleTimeString('de-DE', {})
}

function getPartyColor(party) {
    // all ok if checked in
    if (party.checkedIn)
        return 'table-success';
    // calculate time left
    const diff = Date.parse(party.stageTime) - Date.now();
    // danger if within next hour
    if (diff <= 60 * 60 * 1000)
        return 'table-danger';
    // warn if within next 90 minutes
    if (diff <= 90 * 60 * 1000)
        return 'table-warning';
    return 'table-secondary';
}

/**
 * Sends a PUT request to check in the given party.
 *
 * @param party party to check in
 */
function checkinParty(party) {
    put('bandcheckin/checkin/' + party.id)
}
</script>