<template>
    <div ref="modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Travel Party hinzufügen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    <Toast ref="toast"/>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <label class="form-label">Band</label>
                            <select class="form-control" v-model="bandId">
                                <option
                                    v-for="band in store.bands"
                                    :key="band.id"
                                    :value="band.id"
                                >
                                    {{ band.name }}
                                </option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-3 mt-md-0">
                            <label class="form-label">Tag</label>
                            <select class="form-control" v-model="dayId">
                                <option v-for="day in festivalDays" :key="day.id" :value="day.id">
                                    {{ getDayLabel(day.date) }}
                                </option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-3 mt-lg-0">
                            <label class="form-label">Stage Time</label>
                            <div class="input-group">
                                <select class="form-control" v-model.number="stageTimeHour">
                                    <option v-for="hour in 24" :value="hour - 1">
                                        {{ zeroPad(hour - 1) }}
                                    </option>
                                </select>
                                <span class="input-group-text">:</span>
                                <select class="form-control" v-model.number="stageTimeMinute">
                                    <option v-for="minute in 12" :value="(minute - 1) * 5">
                                        {{ zeroPad((minute - 1) * 5) }}
                                    </option>
                                </select>
                                <span class="input-group-text">Uhr</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-3 mt-lg-0">
                            <label class="form-label">Fahrzeug</label>
                            <input type="text" class="form-control" placeholder="Fahrzeug" v-model="vehicle">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="gl-checkin"
                                       v-model="checkedIn">
                                <label class="form-check-label" for="gl-checkin">Anwesend</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <label class="form-label">Gästeliste</label>
                            <p class="mt-1 mb-0">Verfügbar:</p>
                            <select class="form-control" :disabled="bandId === null" @change="addEntry">
                                <option value="-1"></option>
                                <option v-for="entry in availableGuestlist" :value="entry.id">
                                    {{ entry.name }} ({{ entry.origin }})
                                </option>
                            </select>

                            <p class="mt-1 mb-0">Eingetragen:</p>
                            <table class="table table-sm table-hover table-striped table-light">
                                <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Herkunft</td>
                                    <td>Kommentar</td>
                                    <td v-for="day in festivalDays">{{ getDayLabel(day.date) }}</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="entry in guestlist" :key="entry.id">
                                    <td>{{ entry.name }}</td>
                                    <td>{{ entry.origin }}</td>
                                    <td>{{ entry.comment }}</td>
                                    <GuestlistDayColumn
                                        v-for="day in festivalDays"
                                        :key="day.id"
                                        :day="day"
                                        :entry="entry"
                                    />
                                    <td>
                                        <button
                                            class="btn btn-link py-0 text-danger float-end"
                                            @click="removeEntry(entry)"
                                        >
                                            <i class="fas fa-minus-circle"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary" @click="save">Speichern</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { getDayLabel } from '../util';
import GuestlistDayColumn from '../GuestListTableDayColumn.vue';
import { computed, onMounted, ref } from 'vue';
import Toast from '../../util/Toast.vue';
import { useGuestListStore } from '../guestlist-store';
import { Modal } from 'bootstrap';

const props = defineProps({
    // current festival
    festival: {
        type: Object,
        required: true
    },
});

const store = useGuestListStore();

const modal = ref();
let bootstrapModal = null;
const toast = ref();

// model data
const id = ref(null);
const bandId = ref(null);
const dayId = ref(null);
const stageTimeHour = ref(0);
const stageTimeMinute = ref(0);
const vehicle = ref('');
const checkedIn = ref(false);
const guestlist = ref([]);

const festivalDays = computed(() => {
    if (!props.festival)
        return [];
    return props.festival.days.filter(day => day.date >= props.festival.start && day.date <= props.festival.end);
});

const stageTime = computed(() => {
    const stageTime = new Date(festivalDays.value.find(d => d.id === dayId.value).date * 1000);
    stageTime.setHours(stageTimeHour.value, stageTimeMinute.value, 0, 0);
    // set actual stage time date to the next day for bands in the early morning
    // kinda hacky, I know, but does the trick for now...
    if (stageTimeHour.value <= 6)
        stageTime.setTime(stageTime.getTime() + 24 * 60 * 60 * 1000);
    return stageTime;
});

const availableGuestlist = computed(() => {
    if (bandId.value === null)
        return store.guestListSorted;

    const bandName = store.bands.find(band => band.id === bandId.value).name.toLowerCase();
    return store.guestList
        .filter(entry => guestlist.value.findIndex(e => e.id === entry.id) === -1)
        .sort((a, b) => {
            if (a.origin.toLowerCase() === bandName && b.origin.toLowerCase() !== bandName)
                return -1;
            if (a.origin.toLowerCase() !== bandName && b.origin.toLowerCase() === bandName)
                return 1;
            return a.name.localeCompare(b.name);
        });
});

onMounted(() => {
    bootstrapModal = Modal.getOrCreateInstance(modal.value);
});

function zeroPad(num) {
    return num.toString().padStart(2, '0');
}

/**
 * Opens the modal. Sets the current values to the party given if not null
 *
 * @param party party to edit or null for new party
 */
function show(party) {
    if (party != null) {
        id.value = party.id;
        bandId.value = party.band.id;
        dayId.value = party.day.id;
        const stageTime = new Date(party.stageTime);
        stageTimeMinute.value = stageTime.getMinutes();
        stageTimeHour.value = stageTime.getHours();
        vehicle.value = party.vehicle;
        checkedIn.value = party.checkedIn;
        guestlist.value = store.travelPartyGuestList(party);
    } else {
        // reset values for new party
        id.value = null;
        bandId.value = null;
        vehicle.value = ''
        checkedIn.value = false;
        guestlist.value = [];
    }

    bootstrapModal.show();
}

/**
 * Adds an entry to the current list of guestlist entries for the party.
 * Is invoked by the change event of the select element.
 *
 * @param event change event of select element
 */
function addEntry(event) {
    const entryId = parseInt(event.target.value);
    const entry = store.guestList.find(entry => entry.id === entryId);
    if (entry !== undefined) {
        guestlist.value.push(entry);
        event.target.value = -1;
    }
}

/**
 * Removes an entry from the current list of guestlist entries for the party.
 *
 * @param entry the entry to remove
 */
function removeEntry(entry) {
    const index = guestlist.value.findIndex(e => e.id === entry.id);
    if (index !== -1)
        guestlist.value.splice(index, 1);
}

/**
 * Saves the current party if it is valid. Closes the modal afterwards
 */
async function save() {
    if (bandId.value == null) {
        toast.value.show({
            title: 'Fehler',
            message: 'Bitte wähle eine Band!',
            color: 'danger',
        });
        return;
    }
    if (dayId.value == null) {
        toast.value.show({
            title: 'Fehler',
            message: 'Bitte wähle einen Tag!',
            color: 'danger',
        });
        return;
    }

    const data = {
        bandId: bandId.value,
        dayId: dayId.value,
        stageTime: stageTime.value.toISOString(),
        vehicle: vehicle.value,
        checkedIn: checkedIn.value,
        guestlistIds: guestlist.value.map(entry => entry.id)
    };

    if (id.value == null) {
        await store.createTravelParty(props.festival.id, data);
    } else {
        await store.updateTravelParty(id.value, data);
    }
    bootstrapModal.hide();
}

defineExpose({
    show
})
</script>