{% extends 'base_sidebar.html.twig' %}

{% block title %}Schicht bearbeiten{% endblock %}

{% set sidebar_parent = {
    route: 'app_shift',
    label: 'Schicht bearbeiten',
} %}

{% block body %}
    <div class="card">
        <div class="card-header">
            Schicht bearbeiten
        </div>
        {{ form_start(form) }}
        <div class="card-body">
            <div class="modal-body">
                {{ form_row(form.area) }}
                {{ form_row(form.name) }}
                {{ form_row(form.day) }}
                {{ form_row(form.start) }}
                {{ form_row(form.end) }}
                {{ form_row(form.volunteer) }}
            </div>
        </div>
        <div class="card-footer">
            <a href="{{ path('app_shift', {festival: shift.day.festival.id, area: shift.area.id}) }}" class="btn btn-secondary">Abbrechen</a>
            {{ form_widget(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>

    <div class="d-none">
        {% for day in days %}
            <div id="festival-day-{{ day.id }}" data-year="{{ day.date|date('Y') }}" data-month="{{ day.date|date('m') }}" data-day="{{ day.date|date('d') }}"></div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('shift/shift') }}
{% endblock %}