<template>
    <div ref="modal" class="modal fade" data-bs-backdrop="static" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div v-if="store.currentEdit" class="modal-content">
                <div class="modal-header">
                    <GuestlistEntryStatusIcon v-if="store.currentEdit.id != null" :entry="store.currentEdit"/>
                    <h5 v-if="store.currentEdit.id == null" class="modal-title ms-2">Eintrag hinzufügen</h5>
                    <h5 v-else class="modal-title ms-2">Eintrag bearbeiten</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    <Toast ref="toast"/>
                </div>

                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-12 col-lg-4">
                            <label class="form-label required">Name</label>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Name"
                                v-model.trim="store.currentEdit.name"
                                ref="nameInput"
                                required
                                :disabled="isLoading"
                            >
                        </div>
                        <div class="col-12 col-lg-4 mt-3 mt-lg-0">
                            <label class="form-label">E-Mail</label>
                            <input type="email"
                                   class="form-control"
                                   placeholder="E-Mail"
                                   v-model.trim="store.currentEdit.email"
                                   :disabled="isLoading"
                            >
                            <div v-if="store.currentEdit.id == null" class="form-check form-switch">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    role="switch"
                                    id="gl-require-email-confirmation"
                                    v-model="requireEmailConfirmation"
                                    :disabled="isLoading || !store.currentEdit.email"
                                >
                                <label for="gl-require-email-confirmation">E-Mail-Bestätigung erforderlich</label>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mt-3 mt-lg-0">
                            <label class="form-label required">Von</label>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Herkunft"
                                v-model.trim="store.currentEdit.origin"
                                required
                                :disabled="isLoading"
                            >
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-lg-4">
                            <label class="form-label required">Tage</label>
                            <GuestListDay
                                v-for="day of availableDays" :key="day.id"
                                :festivalDay="day"
                                :isLoading="isLoading"
                            />
                        </div>
                        <div class="col-12 col-lg-4 mt-3 mt-lg-0">
                            <label class="form-label">Mit Camping</label>
                            <div class="form-check">
                                <input
                                    type="checkbox"
                                    role="checkbox"
                                    class="form-check-input"
                                    v-model="store.currentEdit.camping"
                                    id="gl-camping"
                                    :disabled="isLoading"
                                >
                                <label class="form-check-label" for="gl-camping">Camping</label>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mt-3 mt-lg-0">
                            <label class="form-label">Eingeladen von</label>
                            <select
                                class="form-select"
                                v-model.number="store.currentEdit.inviterId"
                                :disabled="isLoading"
                            >
                                <option :value="null" selected></option>
                                <option v-for="inviter in store.inviters" :key="inviter.userId" :value="inviter.userId">
                                    {{ inviter.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-lg-4">
                            <label class="form-label required">Typ</label>
                            <select
                                class="form-select"
                                v-model="store.currentEdit.type"
                                :disabled="isLoading"
                            >
                                <option value="act">Band</option>
                                <option value="crew">Helfer/Crew</option>
                                <option value="friend">Festival/Verein/Freunde</option>
                                <option value="sponsor">Sponsor</option>
                                <option value="local">Anwohner</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-4 mt-3 mt-lg-0">
                            <label class="form-label">Kommentar</label>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Getränke, etc..."
                                v-model.trim="store.currentEdit.comment"
                                :disabled="isLoading"
                            >
                        </div>
                        <div class="col-12 col-lg-4 mt-3 mt-lg-0">
                            <label class="form-label">Plus</label>
                            <select
                                class="form-select"
                                v-model.number="store.currentEdit.plus"
                                :disabled="isLoading"
                            >
                                <option value="0" selected>0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-check form-switch">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    role="switch"
                                    id="gl-checkin"
                                    v-model="store.currentEdit.checkedIn"
                                    :disabled="isLoading"
                                >
                                <label class="form-check-label" for="gl-checkin">Anwesend</label>
                            </div>
                            <div class="form-check form-switch">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    role="switch"
                                    id="gl-checkin-backstage"
                                    v-model="store.currentEdit.backstageCheckedIn"
                                    :disabled="isLoading"
                                >
                                <label class="form-check-label" for="gl-checkin-backstage">Backstage Anwesend</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button
                        v-if="canBeAccepted"
                        class="btn btn-success"
                        :disabled="isLoading"
                        @click="acceptEntry"
                    >
                        Anmeldung annehmen
                    </button>
                    <button
                        v-if="canBeRejected"
                        class="btn btn-danger"
                        :disabled="isLoading"
                        @click="rejectEntry"
                    >
                        Anmeldung ablehnen
                    </button>
                    <button
                        v-if="store.currentEdit.id == null"
                        type="submit"
                        class="btn btn-primary"
                        :disabled="isLoading"
                        @click="saveAndNew"
                    >
                        Speichern und Neu
                    </button>
                    <button
                        v-else
                        type="submit"
                        class="btn btn-primary"
                        :disabled="isLoading"
                        @click="saveAndKeepOpen"
                    >
                        Speichern
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        :disabled="isLoading"
                        @click="saveAndClose"
                    >
                        Speichern und Schließen
                    </button>
                    <button
                        type="button"
                        class="btn btn-secondary"
                        :disabled="isLoading"
                        data-bs-dismiss="modal"
                    >
                        Abbrechen
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import GuestListDay from './GuestListDay.vue';
import Toast from '../util/Toast.vue';
import { post, put } from '../api.js';
import { computed, onMounted, ref } from 'vue';
import { Modal } from 'bootstrap';
import { useGuestListStore } from './guestlist-store.js';
import GuestlistEntryStatusIcon from './GuestlistEntryStatusIcon.vue';
import { usePermissionStore } from '../system/permission-store';

defineProps({
    // festival days to display
    availableDays: {
        type: Array,
        required: true
    }
});

const store = useGuestListStore();
const permissions = usePermissionStore();

const modal = ref();
let bootstrapModal;

const toast = ref();

const nameInput = ref();

const requireEmailConfirmation = ref(false);
const isLoading = ref(false);

const canBeAccepted = computed(() => store.currentEdit.id != null && permissions.isGranted('guestlist.accept')
    && ['new', 'email_confirmed', 'rejected'].includes(store.currentEdit.state));
const canBeRejected = computed(() => store.currentEdit.id != null && permissions.isGranted('guestlist.accept')
    && ['new', 'email_confirmed', 'accepted'].includes(store.currentEdit.state));

onMounted(() => {
    bootstrapModal = Modal.getOrCreateInstance(modal.value);
    modal.value.addEventListener('shown.bs.modal', () => focus());
})

/**
 * Open the modal. Sets the current values to the entry given if not null.
 *
 * @param entry entry to edit or null for new entry
 */
function show(entry) {
    if (entry != null) {
        store.currentEdit = entry;
    } else if (store.currentEdit == null || store.currentEdit.id != null) {
        store.currentEdit = {
            id: null,
            name: '',
            email: '',
            type: 'friend',
            inviterId: null,
            origin: '',
            comment: '',
            plus: 0,
            days: [],
            camping: false,
            checkedIn: false,
            backstageCheckedIn: false,
        }
    }
    requireEmailConfirmation.value = false;

    bootstrapModal.show();
}

function focus() {
    nameInput.value.focus();
    nameInput.value.select();
}

/**
 * Saves the current entry if it is valid
 */
function save() {
    return new Promise((resolve, reject) => {
        // check form is valid
        if (store.currentEdit.name.length === 0) {
            reject('Name benötigt');
            return;
        }
        if (store.currentEdit.origin.length === 0) {
            reject('Herkunft benötigt');
            return;
        }
        if (store.currentEdit.days.length === 0) {
            reject('Tage benötigt');
            return;
        }
        if (store.currentEdit.type.length === 0) {
            reject('Typ benötigt');
            return;
        }

        // use POST for new entry, otherwise PUT to edit
        if (store.currentEdit.id == null) {
            post('v1/guestlist/add', store.currentEdit)
                .then(resolve)
                .catch(error => reject(error.message));
        } else {
            put('v1/guestlist/edit/' + store.currentEdit.id, store.currentEdit)
                .then(resolve)
                .catch(error => reject(error.message));
        }
    });
}

async function saveAndClose() {
    isLoading.value = true;
    save()
        .then(() => bootstrapModal.hide())
        .catch(showErrorToast)
        .finally(() => isLoading.value = false);
}

async function saveAndKeepOpen() {
    isLoading.value = true;
    save()
        .then(() => {
            toast.value.show({
                title: 'Eintrag gespeichert.',
                message: 'Alle Änderungen wurden gespeichert.',
                color: 'success',
            });
        })
        .catch(showErrorToast)
        .finally(() => isLoading.value = false);
}

async function saveAndNew() {
    isLoading.value = true;
    save()
        .then(() => {
            toast.value.show({
                title: 'Eintrag gespeichert.',
                message: 'Du kannst nun den nächsten Eintrag anlegen.',
                color: 'success',
            });
            focus();
        })
        .catch(showErrorToast)
        .finally(() => isLoading.value = false);
}

async function acceptEntry() {
    isLoading.value = true;
    save()
        .then(() => {
            post(`v1/guestlist/${store.currentEdit.id}/accept`)
                .then((entry) => {
                    store.currentEdit = entry;
                    toast.value.show({
                        title: 'Eintrag angenommen.',
                        message: 'Änderungen wurden gespeichert.',
                        color: 'info',
                    });
                })
                .catch(showErrorToast)
        })
        .catch(showErrorToast)
        .finally(() => isLoading.value = false);
}

async function rejectEntry() {
    isLoading.value = true;
    save()
        .then(() => {
            post(`v1/guestlist/${store.currentEdit.id}/reject`)
                .then((entry) => {
                    store.currentEdit = entry;
                    toast.value.show({
                        title: 'Eintrag abgelehnt.',
                        message: 'Änderungen wurden gespeichert.',
                        color: 'info',
                    });
                })
                .catch(showErrorToast)
        })
        .catch(showErrorToast)
        .finally(() => isLoading.value = false);
}

function showErrorToast(error) {
    toast.value.show({
        title: 'Fehler',
        message: error,
        color: 'danger',
    })
}

defineExpose({
    show
});
</script>
