<template>
    <tr>
        <td v-if="paddingStart" :colspan="paddingStart"></td>
        <td v-if="!store.showAcceptedOnly">
            <GuestlistEntryStatusIcon :entry="entry"/>
        </td>
        <td v-if="showEntryTypeIcon">
            <i class="fas" :class="entryTypeIcon"></i>
        </td>
        <td :class="{'text-muted': entry.checkedIn}">
            {{ entry.name }}
        </td>
        <td v-if="showOrigin" :class="{'text-muted': entry.checkedIn}">
            {{ entry.origin }}
        </td>
        <td :class="{'text-muted': entry.checkedIn}">
            {{ entry.comment }}
        </td>
        <td :class="{'text-muted': entry.checkedIn}">
            <span v-if="entry.plus">+</span>{{ entry.plus || '&mdash;' }}
        </td>
        <GuestListDayColumn v-for="day in days" :key="day.id" :day="day" :entry="entry" />
        <td>
            <i v-if="entry.camping" class="fas fa-check" :class="entry.checkedIn ? 'text-muted' : 'text-success'"></i>
            <i v-else class="fas fa-times" :class="entry.checkedIn ? 'text-muted' : 'text-danger'"></i>
        </td>
        <td style="white-space: nowrap">
            <button
                v-if="!entry.checkedIn"
                class="btn btn-sm btn-info form-control"
                @click="checkin(entry)"
                :disabled="!permissions.isGranted('guestlist.checkin')"
            >
                Checkin
            </button>
            <button v-else class="btn btn-sm btn-outline-secondary form-control" disabled>Anwesend</button>
        </td>
        <td v-if="permissions.isGranted('guestlist.backstage')" style="white-space: nowrap">
            <template v-if="hasBackstage(entry)">
                <button
                    v-if="!entry.backstageCheckedIn"
                    class="btn btn-sm btn-info form-control"
                    @click="checkinBackstage(entry)"
                >
                    Checkin
                </button>
                <button v-else class="btn btn-sm btn-outline-secondary form-control" disabled>Anwesend</button>
            </template>
        </td>
        <td v-if="showEdit && permissions.isGranted('guestlist.edit')" style="white-space: nowrap">
            <button class="btn btn-link text-muted py-0 px-1 mx-1" @click="emit('edit', entry)">
                <i class="fas fa-pen"></i>
            </button>
            <button class="btn btn-link text-danger py-0 px-1 mx-1" @click="store.deleteEntry(entry.id)">
                <i class="fas fa-trash"></i>
            </button>
        </td>
        <td v-if="paddingEnd" :colspan="paddingEnd"></td>
    </tr>
</template>

<script setup>
import { put } from "../api.js";
import GuestListDayColumn from './GuestListTableDayColumn.vue';
import { useGuestListStore } from './guestlist-store.js';
import { usePermissionStore } from '../system/permission-store';
import GuestlistEntryStatusIcon from './GuestlistEntryStatusIcon.vue';
import { computed } from 'vue';

const props = defineProps({
    days: {
        type: Array,
        required: true
    },

    entry: {
        type: Object,
        required: true
    },

    paddingStart: {
        type: Number,
        required: false
    },

    paddingEnd: {
        type: Number,
        required: false
    },

    showEntryTypeIcon: {
        type: Boolean,
        default: true,
    },

    showOrigin: {
        type: Boolean,
        default: true
    },

    showEdit: {
        type: Boolean,
        default: true
    }
});

const emit = defineEmits(['edit', 'delete']);
const store = useGuestListStore();
const permissions = usePermissionStore();

const entryTypeIcon = computed(() => {
    switch (props.entry.type) {
        case 'act':
            return 'fa-guitar';
        case 'crew':
            return 'fa-people-carry'
        case 'friend':
            return 'fa-heart';
        case 'sponsor':
            return 'fa-euro-sign';
        case 'local':
            return 'fa-home';
    }
});

/**
 * Checks if an entry has any backstage access.
 *
 * @param entry guestlist entry
 * @returns {boolean} true if any day of the entry has backstage access
 */
const hasBackstage = function (entry) {
    return entry.days.find(day => day.backstage) !== undefined;
}

/**
 * Sends a PUT request to check in the given entry.
 *
 * @param entry entry to check in
 */
const checkin = function (entry) {
    put('guestlist/checkin/' + entry.id);
}

/**
 * Sends a PUT request to check in the given entry (backstage).
 *
 * @param entry entry to check in
 */
const checkinBackstage = function (entry) {
    put('guestlist/checkin/backstage/' + entry.id);
}
</script>
