<template>
    <td>
        <div v-if="guestlistDay !== undefined">
            <i class="fas fa-check" :class="entry.checkedIn ? 'text-muted' : 'text-success'"></i>
            <i v-if="guestlistDay.backstage" class="fas fa-star ms-2"
               :class="entry.checkedIn ? 'text-muted' : 'text-warning'"></i>
        </div>
        <i v-else class="fas fa-times" :class="entry.checkedIn ? 'text-muted' : 'text-danger'"></i>
    </td>
</template>

<script setup>
import { computed } from 'vue';

const props = defineProps({
    day: {
        type: Object,
        required: true
    },
    entry: {
        type: Object,
        required: true
    }
});

const guestlistDay = computed(() => props.entry.days.find(d => d.festivalDayId === props.day.id));
</script>
