<template>
    <i class="fas ms-1" :class="statusClass" :title="statusName"></i>
</template>

<script setup>
import { computed } from 'vue';

const props = defineProps({
    entry: {
        type: Object,
        required: true,
    }
});

const statusClass = computed(() => {
    switch (props.entry.state) {
        case 'new':
            return 'fa-dot-circle text-muted';
        case 'email_confirmation_pending':
            return 'fa-envelope text-warning';
        case 'email_confirmed':
            return 'fa-envelope-open text-info';
        case 'accepted':
            return 'fa-check-square text-success';
        case 'rejected':
            return 'fa-times text-danger';
        default:
            return 'fa-question-circle'
    }
});

const statusName = computed(() => {
    switch (props.entry.state) {
        case 'new':
            return 'Neu';
        case 'email_confirmation_pending':
            return 'E-Mail-Bestätigung ausstehend';
        case 'email_confirmed':
            return 'E-Mail bestätigt';
        case 'accepted':
            return 'Angenommen';
        case 'rejected':
            return 'Abgelehnt';
        default:
            return 'Unbekannter Status ' + props.entry.state;
    }
});
</script>
