<template>
    <div class="row">
        <div class="col-6">
            <div class="form-check form-check-inline">
                <input
                    ref="allowedCheckbox"
                    class="form-check-input"
                    type="checkbox"
                    :checked="isAllowed"
                    :id="`festival-day-allowed-${props.festivalDay.id}`"
                    @change="updateCurrentEdit"
                    :disabled="isLoading"
                >
                <label
                    class="form-check-label"
                    :for="`festival-day-allowed-${props.festivalDay.id}`"
                >
                    {{ getDayLabel(props.festivalDay.date) }}
                </label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-check form-check-inline">
                <input
                    ref="backstageCheckbox"
                    class="form-check-input"
                    type="checkbox"
                    :checked="hasBackstageAccess"
                    :id="`festival-day-backstage-${props.festivalDay.id}`"
                    :disabled="!isAllowed || isLoading"
                    @change="updateCurrentEdit"
                >
                <label
                    class="form-check-label"
                    :for="`festival-day-backstage-${props.festivalDay.id}`"
                >
                    Backstage
                </label>
            </div>
        </div>
    </div>
</template>

<script setup>
import { getDayLabel } from './util.js';
import { computed, onMounted, ref } from 'vue';
import { useGuestListStore } from './guestlist-store';

const props = defineProps({
    festivalDay: {
        type: Object,
        required: true,
    },
    isLoading: {
        type: Boolean,
        required: false,
        default: false,
    }
});

const store = useGuestListStore();

const guestlistDay = computed(() => {
    if (store.currentEdit == null)
        return null;
    return store.currentEdit.days.find(d => d.festivalDayId === props.festivalDay.id);
});
const isAllowed = computed(() => guestlistDay.value != null);
const hasBackstageAccess = computed(() => guestlistDay.value != null && guestlistDay.value.backstage === true);

const allowedCheckbox = ref();
const backstageCheckbox = ref();

function updateCurrentEdit() {
    const index = store.currentEdit.days.findIndex(d => d.festivalDayId === props.festivalDay.id);
    if (allowedCheckbox.value.checked) {
        const day = {
            festivalDayId: props.festivalDay.id,
            backstage: backstageCheckbox.value.checked,
        };
        if (index !== -1) {
            store.currentEdit.days[index] = day;
        } else {
            store.currentEdit.days.push(day);
        }
    } else {
        store.currentEdit.days.splice(index, 1);
    }
}
</script>
