<template>
    <div>
        <GuestlistModal
            v-if="festivalStore.currentFestival"
            :availableDays="festivalStore.currentFestivalDays"
            ref="modal"
        />
        <div class="row align-items-center">
            <div class="col-6">
                <p class="fs-3 m-0 d-inline">Gästeliste</p>
                <button
                    v-if="permissions.isGranted('guestlist.edit')"
                    class="btn btn-sm btn-outline-success ms-3 mb-2"
                    @click="modal.show()"
                >
                    <i class="fas fa-plus"></i> Hinzufügen
                </button>
            </div>
            <div class="col-6">
                <div class="float-end">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="showAcceptedOnly"
                               v-model="store.showAcceptedOnly">
                        <label class="form-check-label" for="showAcceptedOnly">Nur Angenommene zeigen</label>
                    </div>
                    <div v-if="permissions.isGranted('guestlist.backstage')" class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="showBackstageOnly"
                               v-model="store.showBackstageOnly">
                        <label class="form-check-label" for="showBackstageOnly">Nur Backstage zeigen</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input class="form-control" type="search" placeholder="Suche" v-model="store.search" autofocus>
        </div>

        <div class="table-responsive">
            <table class="table table-sm table-hover table-striped table-light">
                <thead>
                <tr>
                    <th v-if="!store.showAcceptedOnly" scope="col"><!-- Status Icon --></th>
                    <th scope="col"><!-- Type Icon --></th>
                    <th scope="col">Name</th>
                    <th scope="col">Von</th>
                    <th scope="col">Kommentar</th>
                    <th scope="col">Plus</th>
                    <th v-for="day in festivalStore.currentFestivalDays">{{ getDayLabel(day.date) }}</th>
                    <th scope="col">Camping</th>
                    <th scope="col">Checkin</th>
                    <th v-if="permissions.isGranted('guestlist.backstage')" scope="col">Backstage</th>
                    <th v-if="permissions.isGranted('guestlist.edit')" scope="col"><!-- Buttons --></th>
                </tr>
                </thead>
                <tbody v-if="!loading">
                <GuestListTableRow
                    v-for="entry in store.guestListFiltered"
                    :key="entry.id"
                    :days="festivalStore.currentFestivalDays"
                    :entry="entry"
                    @edit="modal.show(entry)"
                />
                </tbody>
                <tbody v-else>
                <tr>
                    <td :colspan="festivalStore.currentFestivalDays.length + 11" class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script setup>
import GuestlistModal from './GuestListModal.vue';
import { getDayLabel } from './util.js';
import GuestListTableRow from './GuestListTableRow.vue';
import { computed, onMounted, ref } from 'vue';
import { useGuestListStore } from './guestlist-store.js';
import { useFestivalStore } from '../festival/festival-store';
import { usePermissionStore } from '../system/permission-store';

const store = useGuestListStore();
const festivalStore = useFestivalStore();
const permissions = usePermissionStore();

const loading = ref(false);

const modal = ref();

onMounted(async () => {
    loading.value = true;
    const festival = await festivalStore.fetchCurrentFestival();
    await Promise.all([
        store.fetchAndSubscribeGuestlist(festival.id),
        store.fetchInviters(),
        permissions.fetchPermissions(),
    ]);
    loading.value = false;
});
</script>
