{# drawer is active if current route matches target or one of the alternatives. Only if active was not defined already #}
{% if active is not defined %}{% set active = app.request.attributes.get('_route') in [target] | merge(alt|default([])) %}{% endif %}
<a class="nav-drawer {{ attr|default([])|join(' ') }} {%- if active %} active {%- endif -%}"
   href="{{ path(target|default(app.request.attributes.get('_route')), parameters|default({})) }}">
    {% block icon %}<i class="fas fa-stream"></i>{% endblock %}
    <span class="ms-2">{% block label %}This is a sidebar drawer{% endblock %}</span>
</a>
