{% set drawers = [
    {
        target: 'app_band_apply',
        icon: 'fa-file-invoice',
        label: 'band.apply.label',
        translate: true
    },
    {
        target: 'app_volunteer',
        icon: 'fa-file-invoice',
        label: app.user.volunteer is null ? 'volunteer.apply' : 'volunteer.show',
        translate: true,
        attr: ['mb-3']
    },
    {
        target: 'app_shift_self',
        icon: 'fa-calendar-alt',
        label: 'Meine Schichten',
        translate: true,
        attr: ['mb-3']
    },
    {
        target: 'app_band_applications',
        icon: 'fa-guitar',
        label: 'Bandbewerbungen',
        permission: 'band.applications'
    },
    {
        target: 'app_band_finals',
        icon: 'fa-poll',
        label: 'Bandbewertungsnacht',
        permission: 'band.finals'
    },
    {
        target: 'app_band_finals_control',
        icon: 'fa-poll-h',
        label: 'Bandbewertungsnacht Steuerung',
        permission: 'band.finals.control'
    },
    {
        target: 'app_inventory',
        icon: 'fa-box',
        label: 'Inventar',
        permission: 'inventory.info'
    },
    {
        target: 'app_staff',
        icon: 'fa-people-carry',
        label: 'Helfer & Personal',
        permission: 'staff.info'
    },
    {
        target: 'app_shift',
        icon: 'fa-table',
        label: 'Schichten konfigurieren',
        permission: 'shift.info'
    },
    {
        target: 'app_shift_construction',
        icon: 'fa-truck-pickup',
        label: 'Auf-/Abbau',
        permission: 'shift.info'
    },
    {
        target: 'app_templates',
        icon: 'fa-envelope-open-text',
        label: 'Textvorlagen',
        permission: 'template.list'
    },
    {
        target: 'app_checkin',
        icon: 'fa-guitar',
        label: 'Band Checkin',
        permission: 'checkin.info'
    },
    {
        target: 'app_guestlist',
        icon: 'fa-file-invoice',
        label: 'Gästeliste',
        permission: 'guestlist.info'
    }
] %}

{% macro drawer(drawer, parent) %}
    {% if drawer.permission is not defined or is_granted(drawer.permission) %}
        <a class="nav-drawer {{ drawer.attr|default([])|join(' ') }} {%- if app.request.attributes.get('_route') == drawer.target %} active {%- endif -%}"
           href="{{ path(drawer.target, drawer.parameters|default({})) }}">
            {% if drawer.icon is defined %}
                <i class="fas {{ drawer.icon }} me-2"></i>
            {% endif %}
            {{ drawer.translate|default(false) ? drawer.label|trans() : drawer.label }}
        </a>
        {% if parent is not null and drawer.target == parent.route %}
            {{ _self.drawer({
                target: app.request.attributes.get('_route'),
                parameters: app.request.attributes.get('_route_params'),
                icon: 'fa-caret-right',
                label: parent.label
            }, null) }}
        {% endif %}
    {% endif %}
{% endmacro %}

{% for drawer in drawers %}
    {{ _self.drawer(drawer, sidebar_parent|default(null)) }}
{% endfor %}
