{% extends 'base_sidebar.html.twig' %}

{% block sidebar %}
    {% embed '_sidebar_drawer.html.twig' with {target: 'index', attr: ['mb-3']} %}
        {% block icon %}<i class="fas fa-home"></i>{% endblock %}
        {% block label %}Home{% endblock %}
    {% endembed %}
    {% embed '_sidebar_drawer.html.twig' with {target: 'app_band_info'} %}
        {% block icon %}<i class="fas fa-info-circle"></i>{% endblock %}
        {% block label %}Info{% endblock %}
    {% endembed %}
    {% embed '_sidebar_drawer.html.twig' with {target: 'app_band_apply', active: false} %}
        {% block icon %}<i class="fas fa-file-invoice"></i>{% endblock %}
        {% block label %}{% trans %} band.apply.label {% endtrans %}{% endblock %}
    {% endembed %}
    {% if histories is defined %}
        {% for h in histories %}
            {% embed '_sidebar_drawer.html.twig' with {target: 'app_band_apply', parameters: {history: h.id}, active: h.id == history.id, attr: ['ms-2']} %}
                {% block icon %}<i class="fas fa-chevron-right"></i>{% endblock %}
                {% block label %}{{ h.name }}{% endblock %}
            {% endembed %}
        {% endfor %}
    {% endif %}
    {% embed '_sidebar_drawer.html.twig' with {target: 'app_band_apply', parameters: {new: true}, active: app.request.query.has('new')} %}
        {% block icon %}<i class="fas fa-plus"></i>{% endblock %}
        {% block label %}{% trans %} band.apply.new {% endtrans %}{% endblock %}
    {% endembed %}
{% endblock %}