<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Traffic Jam Open Air Backstage{% endblock %}</title>
    {% block stylesheets %}
        {{ vite_entry_link_tags('theme') }}
    {% endblock %}
</head>
<body>

<!-- Navbar at top of screen -->
<header class="app-header">
    <div class="container">
        <nav class="navbar navbar-dark flex-nowrap px-3">
            <a class="navbar-brand d-md-none me-auto me-sm-3" href="{{ path('index') }}">TJOA</a>
            <a class="navbar-brand d-none d-md-block me-auto me-sm-3" href="{{ path('index') }}">Traffic Jam Open Air</a>
            <span class="navbar-text d-none d-sm-block me-auto">18.+19. {% trans %} july {% endtrans %} 2025</span>

            <div class="dropdown text-light">
                <a class="nav-link dropdown-toggle mx-3"
                   id="navbarLanguageLink"
                   href="#"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false"
                >
                    <i class="fas fa-language me-0 me-lg-1"></i>
                    <span class="d-none d-lg-inline">{% trans %}language{% endtrans %}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarLanguageLink">
                    <a class="dropdown-item"
                       href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?lang=de"
                    >
                        Deutsch
                    </a>
                    <a class="dropdown-item"
                       href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?lang=en"
                    >
                        English
                    </a>
                </div>
            </div>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarAccountLink" href="#" role="button"
                       data-bs-toggle="dropdown">
                        <i class="fas fa-user-circle me-0 me-lg-1"></i>
                        <span class="d-none d-lg-inline">{{ app.user.email }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarAccountLink">
                        <a class="dropdown-item" href="{{ path('app_logout') }}">
                            <i class="fas fa-sign-out-alt"></i> {% trans %} logout {% endtrans %}
                        </a>
                        <a class="dropdown-item" href="{{ path('app_account') }}">
                            <i class="fas fa-cogs"></i> {% trans %} settings {% endtrans %}
                        </a>
                        {% if is_granted('IS_IMPERSONATOR') %}
                            <a class="dropdown-item" href="{{ path('index', {_switch_user: '_exit'}) }}">
                                <i class="fas fa-user-secret"></i> Stop impersonating
                            </a>
                        {% elseif is_granted('security.switch_user') %}
                            <a class="dropdown-item" href="{{ path('app_switch_user') }}">
                                <i class="fas fa-user-secret"></i> Switch User
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% elseif app.request.attributes.get('_route') not in ['index', 'app_login', 'app_register'] %}
                <a class="btn btn-outline-light"
                   href="{{ path('app_login') }}">{% trans %} index.login {% endtrans %}</a>
            {% endif %}
        </nav>
    </div>
</header>

<!-- Main Content -->
<main class="container">
    {% block breadcrumbs %}{% endblock %}

    <noscript>
        <div class="alert alert-danger">
            <i class="fas fa-code me-2"></i>
            {% trans %} noscript {% endtrans %}
        </div>
    </noscript>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.activatedAt is null %}
        <div class="alert alert-warning mt-3" role="alert">
            <i class="fas fa-exclamation-triangle fa-2x fa-pull-left mt-2"></i>
            {%- trans %} account.activate.missing {% endtrans %}<br>
            <small class="text-muted">
                {%- trans with {
                    '%last%': app.user.activationEmailSentAt|date('d.m.Y H:i'),
                    '%email%': app.user.email
                } %} account.activate.lastmail {% endtrans %}
                {% if app.user.activationEmailSentAt < date('-10minutes') -%}
                    <a href="{{ path('app_activate_resend') }}">&raquo; {% trans %} account.activate.resend.action {% endtrans %}</a>
                {%- endif -%}
            </small>
        </div>
    {% endif %}

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible mt-3" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
</main>

<!-- Footer at bottom of screen -->
<footer class="fixed-bottom app-footer">
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#footerCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="footerCollapse">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item me-0 me-lg-4">
                            <a class="nav-link" href="https://trafficjam.de/impressum/" target="_blank"
                               rel="noopener noreferrer">
                                {% trans %} footer.imprint {% endtrans %}
                            </a>
                        </li>
                        <li class="nav-item me-0 me-lg-4">
                            <a class="nav-link" href="https://trafficjam.de/kontakt/" target="_blank"
                               rel="noopener noreferrer">
                                {% trans %} footer.contact {% endtrans %}
                            </a>
                        </li>
                        <li class="nav-item me-0 me-lg-4">
                            <a class="nav-link" href="https://trafficjam.de/datenschutz/" target="_blank"
                               rel="noopener noreferrer">
                                {% trans %} footer.privacy {% endtrans %}
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="https://gitlab.com/openfestival/backstage" target="_blank"
                               rel="noopener noreferrer">Open Source</a>
                        </li>
                        {% if is_granted('admin.index') %}
                            <li class="nav-item">
                                <a href="{{ path('admin_index') }}" class="nav-link"><i class="fas fa-wrench"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</footer>

{% block javascripts %}
    {{ vite_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
