<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Traffic Jam Open Air Backstage{% endblock %}</title>
    {% block head %}{% endblock %}
    {% block stylesheets %}
        {{ vite_entry_link_tags('theme_sidebar') }}
    {% endblock %}
</head>
<body>

<!-- Header -->

<header class="app-header">
    <nav class="navbar navbar-dark flex-nowrap px-3">
        <button class="navbar-toggler me-3" type="button" data-sidebar-toggler="sidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand d-md-none me-auto me-sm-3" href="{{ path('index') }}">TJOA</a>
        <a class="navbar-brand d-none d-md-block me-auto me-sm-3" href="{{ path('index') }}">Traffic Jam Open Air</a>
        <span class="navbar-text d-none d-sm-block me-auto">18.+19. {% trans %} july {% endtrans %} 2025</span>

        <div class="dropdown">
            <a class="nav-link dropdown-toggle mx-3"
               id="navbarLanguageLink"
               href="#"
               role="button"
               data-bs-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false"
            >
                <i class="fas fa-language me-0 me-lg-1"></i>
                <span class="d-none d-lg-inline">{% trans %}language{% endtrans %}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarLanguageLink">
                <a class="dropdown-item"
                   href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?lang=de"
                >
                    Deutsch
                </a>
                <a class="dropdown-item"
                   href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?lang=en"
                >
                    English
                </a>
            </div>
        </div>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" id="navbarAccountLink" href="#" role="button"
                   data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle me-0 me-lg-1"></i>
                    <span class="d-none d-lg-inline">{{ app.user.email }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarAccountLink">
                    <a class="dropdown-item" href="{{ path('app_logout') }}"><i
                                class="fas fa-sign-out-alt"></i> {% trans %} logout {% endtrans %}</a>
                    <a class="dropdown-item" href="{{ path('app_account') }}"><i
                                class="fas fa-cogs"></i> {% trans %} settings {% endtrans %}</a>
                    {% if is_granted('IS_IMPERSONATOR') %}
                        <a class="dropdown-item" href="{{ path('index', {_switch_user: '_exit'}) }}"><i
                                    class="fas fa-user-secret"></i> Stop impersonating</a>
                    {% elseif is_granted('security.switch_user') %}
                        <a class="dropdown-item" href="{{ path('app_switch_user') }}"><i class="fas fa-user-secret"></i>
                            Switch User</a>
                    {% endif %}
                    {% if is_granted('admin.index') %}
                        <a class="dropdown-item" href="{{ path('admin_index') }}"><i class="fas fa-wrench"></i>
                            Admin</a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <a class="btn btn-outline-light" href="{{ path('app_login') }}">{% trans %} index.login {% endtrans %}</a>
        {% endif %}
    </nav>
</header>

<!-- Sidebar -->

<aside class="app-sidebar preload {%- if app.session.get('sidebarCollapsed', false) %} collapsed {%- endif -%}"
       id="sidebar">
    <nav class="nav flex-column p-3">
        {% block sidebar %}
            {{ include('_sidebar_drawers.html.twig') }}
        {% endblock %}
    </nav>
</aside>

<!-- Main Content and Footer -->

<div class="app-wrapper preload">
    <main class="app-content">
        {% block breadcrumbs %}{% endblock %}
        <p class="display-6">{% block heading %}{% endblock %}</p>

        <!-- No Javascript warning -->
        <noscript>
            <div class="alert alert-danger mb-3">
                <i class="fas fa-code me-2"></i>
                {% trans %} noscript {% endtrans %}
            </div>
        </noscript>

        <!-- Account not activated warning -->
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.activatedAt is null %}
            <div class="alert alert-warning mb-3" role="alert">
                <i class="fas fa-exclamation-triangle fa-2x fa-pull-left mt-2"></i>
                {%- trans %} account.activate.missing {% endtrans %}<br>
                <small class="text-muted">
                    {%- trans with {
                        '%last%': app.user.activationEmailSentAt|date('d.m.Y H:i'),
                        '%email%': app.user.email
                    } %} account.activate.lastmail {% endtrans %}
                    {% if app.user.activationEmailSentAt < date('-10minutes') -%}
                        <a href="{{ path('app_activate_resend') }}">&raquo; {% trans %} account.activate.resend {% endtrans %}</a>
                    {%- endif -%}
                </small>
            </div>
        {% endif %}

        <!-- Dynamic flashes -->
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible fade show mb-3" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}

        <!-- Main content -->
        {% block body %}
            {% for i in 1..5 %}
                <h3>{{ i }}. This is a header</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consequatur, consequuntur doloribus expedita facere impedit natus numquam odio qui quidem sit ullam. A aperiam aspernatur necessitatibus officiis quas sequi soluta tempore totam voluptates voluptatum! Adipisci aliquam aperiam architecto at atque beatae consequatur debitis delectus dicta distinctio dolorum eos hic id impedit in ipsum, itaque magnam maiores nam nesciunt quasi qui quia quibusdam quisquam quod repellat soluta. Accusamus alias aliquid architecto asperiores, consequatur culpa distinctio illo illum in incidunt libero maiores nesciunt nobis officiis possimus quae quibusdam tempore totam unde ut. Aliquid consequatur eius itaque maxime natus obcaecati odit, voluptas!
            {% endfor %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="app-footer">
        <nav class="navbar bg-secondary">
            <div class="container-fluid">
                <a class="nav-link me-4" href="https://trafficjam.de/impressum/" target="_blank"
                   rel="noopener noreferrer">
                    {% trans %} footer.imprint {% endtrans %}
                </a>
                <a class="nav-link me-4" href="https://trafficjam.de/kontakt/" target="_blank"
                   rel="noopener noreferrer">
                    {% trans %} footer.contact {% endtrans %}
                </a>
                <a class="nav-link me-4" href="https://trafficjam.de/datenschutz/" target="_blank"
                   rel="noopener noreferrer">
                    {% trans %} footer.privacy {% endtrans %}
                </a>
                <a class="nav-link me-4" href="https://gitlab.com/openfestival/backstage" target="_blank"
                   rel="noopener noreferrer">Open Source</a>
            </div>
        </nav>
    </footer>
</div>

{% block javascripts %}
    {{ vite_entry_script_tags('app_sidebar') }}
{% endblock %}
</body>
</html>
