{% extends 'base_sidebar.html.twig' %}

{% block sidebar %}
    {% embed '_sidebar_drawer.html.twig' with {target: 'admin_index', attr: ['mb-3']} %}
        {% block icon %}<i class="fas fa-tools"></i>{% endblock %}
        {% block label %}Dashboard{% endblock %}
    {% endembed %}
    {% embed '_sidebar_drawer.html.twig' with {target: 'admin_festival', alt: ['admin_festival_edit']} %}
        {% block icon %}<i class="fas fa-calendar"></i>{% endblock %}
        {% block label %}Festivals{% endblock %}
    {% endembed %}
    {% embed '_sidebar_drawer.html.twig' with {target: 'admin_users', alt: ['admin_user']} %}
        {% block icon %}<i class="fas fa-user"></i>{% endblock %}
        {% block label %}Benutzer{% endblock %}
    {% endembed %}
    {% embed '_sidebar_drawer.html.twig' with {target: 'admin_groups'} %}
        {% block icon %}<i class="fas fa-users"></i>{% endblock %}
        {% block label %}Gruppen{% endblock %}
    {% endembed %}
    {% embed '_sidebar_drawer.html.twig' with {target: 'index', attr: ['mt-3']} %}
        {% block icon %}<i class="fas fa-chevron-left"></i>{% endblock %}
        {% block label %}Schließen{% endblock %}
    {% endembed %}
{% endblock %}
