<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
            <a class="hover-underline" href="{{ path('index') }}"><i class="fas fa-xs fa-home"></i></a>
        </li>
        {% for item in items|default([]) %}
            <li class="breadcrumb-item">
                <a class="hover-underline" href="{{ path(item.path, item.pathargs ?? {}) }}"><small>{{ item.name }}</small></a>
            </li>
        {% endfor %}
        <li class="breadcrumb-item active"><small>{{ current ?? 'Current' }}</small></li>
    </ol>
</nav>
