{% macro link(target, icon, text, translate, disabled) %}
    <a class="btn w-100 d-inline-flex py-2 btn-outline-dark {% if disabled|default(false) %} disabled {% else %} btn-light {% endif %}" href="{{ target }}">
        <div class="my-auto me-2"><i class="fas fa-2x {{ icon }}"></i></div>
        <div class="m-auto">{{ translate|default(false) ? text|trans() : text }}</div>
    </a>
{% endmacro %}