{% extends 'base_admin.html.twig' %}
{% import 'preload.html.twig' as preload %}

{% block title %}Gruppen{% endblock %}

{% block breadcrumbs %}
    {% include 'breadcrumbs.html.twig' with {
        items: [
            {name: 'Admin Bereich', path: 'admin_index'}
        ],
        current: 'Gruppen'
    } %}
{% endblock %}

{% block heading %}Admin Bereich: Gruppen{% endblock %}

{% block body %}
    <p class="fs-3 m-0">Admin Bereich: Gruppen</p>
    <a href="{{ path('admin_users') }}">Benutzer</a>
    <div id="vue-groups"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('admin/groups') }}
{% endblock %}
