{% extends 'base_admin.html.twig' %}

{% block title %}Backstage Admin{% endblock %}

{% block breadcrumbs %}
    {% include 'breadcrumbs.html.twig' with {
        current: 'Admin Bereich'
    } %}
{% endblock %}

{% block heading %}Admin Bereich{% endblock %}

{% block body %}
    <div class="row mt-3">
        Hier kommt mal ein schönes Dashboard hin...
    </div>
{% endblock %}
