{% extends 'base_admin.html.twig' %}

{% block title %}Benutzer{% endblock %}

{% block breadcrumbs %}
    {% include 'breadcrumbs.html.twig' with {
        items: [
            {name: 'Admin Bereich', path: 'admin_index'}
        ],
        current: 'Benutzer'
    } %}
{% endblock %}

{% block heading %}Admin Bereich: Benutzer{% endblock %}

{% block body %}
    <div class="card mt-3">
        <div class="card-header">
            {{ form_start(form) }}
            <div class="input-group">
                <span class="my-auto me-2">Alle Nutzer</span>
                {{ form_widget(form.email, {'attr': {'class': 'ms-auto me-2', 'style': 'max-width: 250px; min-width: 180px', 'placeholder': 'email'}}) }}
                {{ form_widget(form.search, {'attr': {'class': 'btn-outline-secondary'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>E-Mail</th>
                        <th>Name</th>
                        <th colspan="2">Aktiviert</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.activatedAt is not null ? user.activatedAt|date('d.m.Y') : 'Nein' }}</td>
                            <td>
                                <a href="{{ path('admin_user', {'user': user.id}) }}"><i class="fas fa-pen"></i></a>
                                {% if user.id != app.user.id %}
                                    <a href="{{ path('index', {'_switch_user': user.email}) }}"><i class="fas fa-user-secret ms-2"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if pageCount > 1 %}
            <div class="card-footer">
                <nav aria-label="User navigation">
                    <ul class="pagination mb-0">
                        {% if page > 1 %}
                            <li class="page-item">
                                <a class="btn btn-link page-link" href="{{ path('admin_users', {'page': page - 1}) }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for i in 1..pageCount %}
                            <li class="page-item {{ i == page ? 'active' }}">
                                <a class="btn btn-link page-link" href="{{ path('admin_users', {'page': i}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        {% if page < pageCount %}
                            <li class="page-item">
                                <a class="btn btn-link page-link" href="{{ path('admin_users', {'page': page + 1}) }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
{% endblock %}
