{% extends 'base_admin.html.twig' %}
{% import 'preload.html.twig' as preload %}

{% block title %}{{ user.displayName }}{% endblock %}

{% block head %}
    {{ preload.fetch('api.usergroups.get', { userId: user.id }) }}
{% endblock %}

{% block breadcrumbs %}
    {% include 'breadcrumbs.html.twig' with {
        items: [
            {name: 'Admin Bereich', path: 'admin_index'},
            {name: 'Benutzer', path: 'admin_users'}
        ],
        current: user.displayName
    } %}
{% endblock %}

{% block heading %}Admin Bereich: {{ user.displayName }}{% endblock %}

{% block body %}
    <div class="row mt-3">
        <div class="col-12 col-md-8 p-2">
            <div class="card">
                <div class="card-header">
                    <strong>{{ user.name ? user.name : user.email }}</strong>
                    {% if user.id != app.user.id %}
                        <a href="{{ path('index', {'_switch_user': user.email}) }}"><i class="fas fa-user-secret py-1 float-end"></i></a>
                    {% endif %}
                </div>
                <table class="table mb-0">
                    <tr>
                        <th scope="row" class="border-top-0">ID:</th>
                        <td class="border-top-0">{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">E-Mail:</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Name:</th>
                        <td>{{ user.name ?? '-' }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Registriert:</th>
                        <td>{{ user.registeredAt|date('d.m.Y H:i') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Aktiviert:</th>
                        <td>{{ user.activatedAt is null ? 'nein' : user.activatedAt|date('d.m.Y H:i') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Zuletzt aktiv:</th>
                        <td>{{ user.lastLogin|date('d.m.Y H:i') }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Sprache:</th>
                        <td>{{ user.lang }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-12 col-md-4 p-2" id="vue-inheritances" data-user-id="{{ user.id }}"></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('admin/users') }}
{% endblock %}
