{% extends 'base_sidebar.html.twig' %}

{% block title %}Backstage Checkin{% endblock %}
{% block body %}
    <div id="vue-bands">
        <BandsTable />
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('guestlist/bands') }}
{% endblock %}