{% extends 'base_sidebar.html.twig' %}

{% block title %}Backstage Checkin{% endblock %}

{% block body %}
    <div id="vue-checkin">
        <CheckinTable />
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('guestlist/checkin') }}
{% endblock %}