{% extends 'base_sidebar.html.twig' %}

{% block title %}Traffic Jam Gästeliste{% endblock %}

{% block body %}
    <div id="vue-guestlist">
        <GuestListTable festivalId="{{ festival.id }}" />
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('guestlist/guestlist') }}
{% endblock %}
