{% extends 'base.html.twig' %}

{% block title %}Traffic Jam Gästeliste{% endblock %}

{% block body %}
    <div class="card mt-3">
        <div class="card-header">
            <strong>Anmeldung Gästeliste</strong>
        </div>
        <div class="card-body">
            <p>
                Hallo und herzlich willkommen beim Anmeldeformular für das {{ festival.name }}! Wir
                freuen uns, dass du Interesse daran hast, Teil dieses legendären Festivals zu sein.
            </p>
            <p>
                Nachdem du dieses Formular abgeschickt hast, wird unser Team deine Anmeldung prüfen.
                Wir bitten um deine Geduld, während wir dein Anliegen so schnell wie möglich bearbeiten.
                Sobald deine Anmeldung überprüft wurde, erhältst du eine Bestätigung per E-Mail mit
                weiteren Informationen zum nächsten Schritt.
            </p>
            <p>
                Bitte beachte, dass wir ein Newcomer Festival sind und uns deshalb um eine kleine Spende
                am Einlass freuen würden. Jeder Beitrag hilft uns, das Event noch besser zu machen und
                talentierten Newcomer-Bands eine Plattform zu bieten.
            </p>
            <p>
                Vielen Dank für dein Interesse und deine Teilnahme! Wir sehen uns auf dem Festival!
            </p>
            <hr>
            {{ form(form, {'method': 'POST'}) }}
        </div>
    </div>
{% endblock %}

