{% extends 'base.html.twig' %}

{% block title %}
    Gästeliste Status
{% endblock %}

{% block body %}
    <div class="card mt-3">
        <div class="card-header">
            <strong>Anmeldung Gästeliste</strong>
        </div>
        <div class="card-body">
            Hier kannst du den aktuellen Status deiner Gästelistenanmeldung einsehen.
            <table class="table mt-2">
                <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td>{{ guestlist.name }}</td>
                </tr>
                <tr>
                    <th scope="row">E-Mail</th>
                    <td>{{ guestlist.emailAnonymized }}</td>
                </tr>
                <tr>
                    <th scope="row">Gruppe</th>
                    <td>{{ ('guestlist.register.types.' ~ guestlist.type.value) | trans }}</td>
                </tr>
                <tr>
                    <th scope="row">Herkunft</th>
                    <td>{{ guestlist.origin }}</td>
                </tr>
                <tr>
                    <th scope="row">Tage</th>
                    <td>
                        <ul class="m-0">
                            {% for day in guestlist.days %}
                                <li>{{ day.day.date | format_date('full') }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Camping</th>
                    <td>{{ guestlist.camping ? 'Ja' : 'Nein' }}</td>
                </tr>
                <tr>
                    <th scope="row">Begleitung</th>
                    <td>{{ guestlist.plus == 0 ? '&mdash;' : '+' ~ guestlist.plus }}</td>
                </tr>
                <tr>
                    <th scope="row">Status</th>
                    <td>
                        {% if guestlist.state == 'new' %}
                            Neu
                        {% elseif guestlist.state == 'email_confirmation_pending' %}
                            Bestätigung der E-Mail Adresse ausstehend.
                        {% elseif guestlist.state == 'email_confirmed' %}
                            Deine Anmeldung wird aktuell bearbeitet.
                        {% elseif guestlist.state == 'accepted' %}
                            Deine Anmeldung wurde angenommen, wir freuen uns auf deinen Besuch.
                        {% elseif guestlist.state == 'rejected' %}
                            Deine Anmeldung wurde abgelehnt.
                            Für Rückfragen wende dich bitte an die Person, die dich eingeladen hat.
                        {% else %}
                            {{ guestlist.state }}
                        {% endif %}
                    </td>
                </tr>
                {% if guestlist.state == 'accepted' %}
                    <tr>
                        <th scope="row">Hinweis</th>
                        <td>Wir freuen uns über eine Spende an der Abendkasse.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


