<template>
  <div class="card">
    <div class="card-header">
      <strong>Festival Tage</strong>
      <toast ref="toast"></toast>
    </div>
    <div class="card-body p-0">
      <ul class="list-group">
        <li class="list-group-item" v-for="day in daysSorted" :key="day.id">
          {{
            day.date.toLocaleDateString(undefined, {
              weekday: 'short',
              day: 'numeric',
              month: 'numeric',
              year: 'numeric'
            })
          }}
          <button class="btn btn-sm btn-link text-danger p-0 float-end" @click="delDay(day)"><i
              class="fas fa-minus-circle"></i></button>
        </li>
        <li class="list-group-item" v-if="!days.length"><i>Noch keine Tage erstellt...</i></li>
      </ul>
    </div>
    <div class="card-footer">
      <label class="form-label">Tag hinzufügen:</label>
      <div class="input-group">
        <input ref="input" class="form-control form-control-sm" type="date" v-model="newDate"
               v-on:keydown.enter="addDay" :disabled="sending">
        <button class="btn btn-sm btn-outline-success" :disabled="!newDate && !sending">
          <i class="fas fa-plus-square" @click="addDay"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script setup>
import {del, post} from '../api';
import Toast from '../util/Toast.vue'
import {nextTick, onMounted, reactive, ref} from "vue";

const props = defineProps({
  festivalId: {
    type: Number,
    required: true
  },
  defDays: {
    type: String,
    default: '[]'
  }
});

const input = ref();
const toast = ref();

const days = ref([]);
const newDate = ref("");
const sending = ref(false);

const daysSorted = reactive(days.value.sort((a, b) => a.date - b.date))

onMounted(() => {
  days.value = JSON.parse(props.defDays).map(day => {
    return {
      id: day.id,
      date: new Date(day.date)
    }
  });
});

function addDay() {
  sending.value = true;
  post('festival/day', {
    festival: props.festivalId,
    date: newDate.value
  }).then(festivalDay => {
    const date = new Date(festivalDay.date);
    days.value.push({
      id: festivalDay.id,
      date: date
    });
    // set new date to next day
    const newDate = new Date(date.getTime() + 24 * 60 * 60 * 1000)
    const day = newDate.getDate(),
        month = newDate.getMonth() + 1,
        year = newDate.getFullYear();
    newDate.value = year + (month < 10 ? '-0' : '-') + month + (day < 10 ? '-0' : '-') + day;
  }).finally(() => {
    sending.value = false;
    // focus on the input field again, but wait for the next tick, so it is enabled again
    nextTick().then(() => input.value.focus());
  })
}

function delDay(day) {
  del('festival/day/' + day.id)
      .then(() => {
        days.value.splice(days.value.indexOf(day), 1);
      })
      .catch(error => {
        toast.value.show('Error', error);
      });
}
</script>
