{% extends 'base_admin.html.twig' %}

{% block title %}Festivals{% endblock %}

{% block breadcrumbs %}
    {% include 'breadcrumbs.html.twig' with {
        items: [
            {name: 'Admin Bereich', path: 'admin_index'}
        ],
        current: 'Festivals'
    } %}
{% endblock %}

{% block heading %}Admin Bereich: Festivals{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-xxl-3 order-xxl-last mb-2">
            <div class="card">
                <div class="card-header">
                    <strong>Aktionen</strong>
                </div>
                <div class="card-body pt-2">
                    <div class="col-12 col-sm-6 col-md-4 col-xxl-12 mt-2">
                        <button type="button" class="btn btn-outline-success form-control" data-bs-toggle="modal" data-bs-target="#newFestival">
                            <i class="fas fa-plus-square"></i> Neues Festival
                        </button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-xxl-12 mt-2">
                        <button type="button" class="btn btn-outline-info form-control" data-bs-toggle="modal" data-bs-target="#currentFestival">
                            <i class="fas fa-bullseye"></i> Aktives Festival ändern
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xxl-9">
            <div class="card">
                <div class="card-header"><strong>Festivals</strong></div>
                <div class="card-body py-0">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Aktiv</th>
                                <th>Name</th>
                                <th>Datum</th>
                                <th>Bandbewerbung</th>
                                <th>Helferbewerbung</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for festival in festivals %}
                                <tr {% if config.currentFestival.id == festival.id %}class="table-active mark"{% endif %}
                                    data-link-target="#a-{{ festival.id }}">
                                    <td>{{ festival.number }}</td>
                                    <td>
                                        {% if config.currentFestival.id == festival.id %}
                                            <span class="badge bg-primary">Aktiv</span>
                                        {% endif %}</td>
                                    <td>{{ festival.name }}</td>
                                    <td>{{ festival.start|date('d.m.Y') }} - {{ festival.end|date('d.m.Y') }}</td>
                                    <td>{{ festival.bandApplicationStart|date('d.m.Y') }} - {{ festival.bandApplicationEnd|date('d.m.Y') }}</td>
                                    <td>{{ festival.volunteerApplicationStart|date('d.m.Y') }} - {{ festival.volunteerApplicationEnd|date('d.m.Y') }}</td>
                                    <td>
                                        <a class="btn btn-sm btn-link float-end" id="a-{{ festival.id }}"
                                           href="{{ path('admin_festival_edit', {festival: festival.id}) }}">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newFestival" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Neues Festival</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{ form_start(newFestivalForm) }}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            {{ form_row(newFestivalForm.number) }}
                        </div>
                        <div class="col-12 col-md-6">
                            {{ form_row(newFestivalForm.name) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{ form_row(newFestivalForm.start) }}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{ form_row(newFestivalForm.end) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{ form_row(newFestivalForm.band_application_start) }}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{ form_row(newFestivalForm.band_application_end) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{ form_row(newFestivalForm.band_rating_end) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{ form_row(newFestivalForm.volunteer_application_start) }}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{ form_row(newFestivalForm.volunteer_application_end) }}
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    {{ form_widget(newFestivalForm.submit) }}
                </div>
                {{ form_end(newFestivalForm) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="currentFestival" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Aktives Festival</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{ form_start(currentFestivalForm) }}
                <div class="modal-body">
                    <p>Das aktive Festival wird in allen Funktionen als Standard angenommen, wenn kein anderes Festival ausgewählt wurde. Dazu zählen zum
                        Beispiel:</p>
                    <ul>
                        <li>Band und Helfer Bewerbungen</li>
                        <li>Schichtplänen</li>
                        <li>Gästeliste</li>
                    </ul>
                    {{ form_row(currentFestivalForm.festival) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    {{ form_widget(currentFestivalForm.submit) }}
                </div>
                {{ form_end(currentFestivalForm) }}
            </div>
        </div>
    </div>
{% endblock %}
