{% extends 'base_admin.html.twig' %}

{% block title %}{{ festival.name }} #{{ festival.number }}{% endblock %}

{% block breadcrumbs %}
    {% include 'breadcrumbs.html.twig' with {
        items: [
            {name: 'Admin Bereich', path: 'admin_index'},
            {name: 'Festivals', path: 'admin_festival'}
        ],
        current: festival.name ~ ' #' ~ festival.number
    } %}
{% endblock %}

{% block heading %}{{ festival.name }} #{{ festival.number }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-xxl-9 mb-3 mb-xxl-0">
            <div class="card">
                <div class="card-header">
                    <strong>Festival Daten</strong>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-12 col-md-6">
                            {{ form_row(form.number) }}
                        </div>
                        <div class="col-12 col-md-6">
                            {{ form_row(form.name) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{ form_row(form.start) }}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{ form_row(form.end) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{ form_row(form.band_application_start) }}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{ form_row(form.band_application_end) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{ form_row(form.band_rating_end) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            {{ form_row(form.volunteer_application_start) }}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{ form_row(form.volunteer_application_end) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-secondary" href="{{ path('admin_festival') }}">Abbrechen</a>
                            {{ form_widget(form.submit) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-12 col-xxl-3" id="vue-days">
            <DayList festivalId="{{ festival.id }}" defDays="{{ days|escape('html_attr') }}" />
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('festival/festival') }}
{% endblock %}
