<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Error {{ status_code }}{% endblock %}</title>
    {% block stylesheets %}
        {{ vite_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<main class="container mt-5">
    {% block body %}
        <div class="text-center mt-3">
            <div class="alert alert-danger">
                <p>Error {{ status_code }}: {{ status_text }}</p>
                <p>{% block text %}{% endblock %}</p>
                <a class="btn btn-outline-dark" href="{{ path('index') }}"><i class="fas fa-home"></i> Home</a>
            </div>
        </div>
    {% endblock %}
</main>
</body>
</html>
