{% extends 'base.html.twig' %}

{% block title %}Bandbewertungsnacht Steuerung{% endblock %}

{% block breadcrumbs %}
    {% include 'breadcrumbs.html.twig' with {
        current: 'Bandbewertungsnacht Steuerung'
    } %}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="custom-control custom-checkbox float-end">
            <input type="checkbox" class="custom-control-input" id="silent-vote" {% if silent %} checked {% endif %}>
            <label class="custom-control-label" for="silent-vote">Geheime Abstimmung</label>
        </div>
        <div class="clearfix"></div>
        <div class="text-center" id="content">
            <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div id="festival-info" class="d-none" data-festival="{{ festival.id }}"></div>
    <div id="list-link" class="d-none" data-href="{{ path('app_band_applications', {festival: festival.id, sort: 'total', order: 'ASC'}) }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('band/finals_control') }}
{% endblock %}

