{% extends 'base.html.twig' %}

{% block title %}Bandbewertungsnacht {{ festival.start|date('Y') }}{% endblock %}

{% block breadcrumbs %}
    {% include 'breadcrumbs.html.twig' with {
        current: 'Bandbewertungsnacht'
    } %}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="text-center" id="content">
            <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div id="festival-info" class="d-none" data-festival="{{ festival.id }}"></div>

    <div class="modal fade" tabindex="-1" id="voteModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="voteTitle"></h5>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-column justify-content-around">
                        <button type="button" class="btn btn-lg btn-score flex-fill my-1" data-score="1">1</button>
                        <button type="button" class="btn btn-lg btn-score flex-fill my-1" data-score="2">2</button>
                        <button type="button" class="btn btn-lg btn-score flex-fill my-1" data-score="3">3</button>
                        <button type="button" class="btn btn-lg btn-score flex-fill my-1" data-score="4">4</button>
                        <button type="button" class="btn btn-lg btn-score flex-fill my-1" data-score="5">5</button>
                        <button type="button" class="btn btn-lg btn-score flex-fill my-1" data-score="6">6</button>
                    </div>
                    <div class="d-flex justify-content-around mt-3">
                        <button type="button" class="btn btn-outline-secondary btn-lg flex-fill me-2" data-action="opendoor" title="Tag der offenen Tür" disabled>
                            <i class="fas fa-door-open"></i>
                        </button>
                        <button type="button" class="btn btn-outline-secondary btn-lg flex-fill me-2" data-action="aftershow" title="Aftershow" disabled>
                            <i class="fas fa-cocktail"></i>
                        </button>
                        <button type="button" class="btn btn-outline-secondary btn-lg flex-fill" data-action="budget" title="Budgetproblem" disabled>
                            <i class="fas fa-euro-sign"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ vite_entry_script_tags('band/finals') }}
{% endblock %}

