{% extends 'base_sidebar.html.twig' %}

{% block title %}Vorlage bearbeiten{% endblock %}

{% import 'system/templates/macros.html.twig' as macros %}

{% set sidebar_parent = {
    route: 'app_templates',
    label: template.id,
} %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.id, {attr: {'disabled': 'disabled'}}) }}
    {{ form_row(form.description) }}
    {{ form_row(form.subject) }}
    <div class="mb-3">
        {{ form_label(form.text) }}
        {{ form_widget(form.text) }}
        <small class="text-muted">Du kannst in dieser Vorlage <a href="https://commonmark.org/help/" target="_blank">Markdown</a> verwenden.</small>
    </div>
    {{ form_label(form.variables) }}
    <div class="row" id="variables-list" data-widget-counter="{{ form.variables|length }}">
        {% for variable in form.variables %}
            {% if variable.vars.value %}
                {{ macros.var(variable.vars.full_name, variable.vars.id, variable.vars.value) }}
            {% endif %}
        {% endfor %}
        <div class="col-12 col-sm-4 col-md-3">
            <button type="button" class="btn btn-outline-success btn-light form-control mb-3" id="variables-add" data-list-selector="#variables-list">
                <i class="fas fa-plus-circle"></i> Add variable
            </button>
        </div>
    </div>
    {{ form_row(form.submit) }}
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
    <div class="d-none" id="variables-prototype">
        {{ macros.var(form.vars.name ~ '[' ~ form.variables.vars.name ~'][__name__]', form.variables.vars.id ~ '___name__') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}#
    {{ vite_entry_script_tags('templates/templates') }}
{% endblock %}
