{% macro var(name, id, value = '') %}
    <div class="col-12 col-sm-4 col-md-3 mb-2">
        <div class="input-group">
            <input type="text" class="form-control" name="{{ name }}" id="{{ id }}" value="{{ value }}">
            <div class="input-group-append">
                <button class="input-group-text variables-copy" title="In Text einfügen" type="button"><i class="fas fa-clone"></i></button>
            </div>
        </div>
    </div>
{% endmacro %}
