{% extends 'email/base.txt.twig' %}

{% block title %}{% trans %} band.apply.email.title {% endtrans %}{% endblock %}

{% block body %}
{% trans %} email.hello {% endtrans %}

{% trans %} band.apply.email.body {% endtrans %}

{{ link }}

{% trans %} email.outro {% endtrans %}
{% endblock %}
