{% extends 'email/base.html.twig' %}

{% block title %}{% trans %} email.reset.title {% endtrans %}{% endblock %}

{% block body %}
    <p>{% trans %} email.hello {% endtrans %}</p>
    <p>{% trans %} email.reset.intro {% endtrans %}</p>
    <a href="{{ link }}">{{ link }}</a>
    <p>{% trans %} email.outro {% endtrans %}</p>
{% endblock %}
