{% extends 'email/base.html.twig' %}

{% block title %}Traffic Jam Open Air Helfer Anmeldungen{% endblock %}
{% block body %}
    {% apply markdown_to_html %}
        Hallo,

        heute gab es **{{ volunteers|length }} neue Helferanmeldungen** im Backstage Tool. Um die Helfer zu verwalten, benutze den folgenden Link:

        [{{ url('app_staff') }}]({{ url('app_staff') }})

        Neue Anmeldungen:

        {% for v in volunteers -%}
            * [{{ v.firstname }} {{ v.surname }}]({{ url('app_staff_detail', {volunteer: v.id}) }})
        {% endfor %}
    {% endapply %}
{% endblock %}
