{% extends 'email/base.txt.twig' %}

{% block title %}Traffic Jam Open Air Helfer Anmeldungen{% endblock %}

{% block body %}
Hallo,
heute gab es {{ volunteers|length }} neue Helferanmeldungen im Backstage Tool. Um die Helfer zu verwalten, benutze den folgenden Link:

{{ url('app_staff') }}

Neue Anmeldungen:

{% for v in volunteers %}
 * [{{ v.firstname }} {{ v.surname }}]({{ url('app_staff_detail', {volunteer: v.id}) }})
{% endfor %}
{% endblock %}
